/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    background-color: #231d24;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-custom {
    background-color: #EA3A65
}

.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
    background-color: #EA3A65
}

.navbar-custom .navbar-nav>.active>a,
.navbar-custom .navbar-nav>.open>a,
.navbar-custom .navbar-nav>.open>a,
.navbar-custom .navbar-nav>.open>a:hover,
.navbar-custom .navbar-nav>.open>a,
.navbar-custom .navbar-nav>.open>a:hover,
.navbar-custom .navbar-nav>.open>a:focus {
    background-color: #EA3A65
}

.dropdown-menu {
    background-color: #EA3A65
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #EA3A65
}

.navbar-custom {
    background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}

.navbar-custom {
    border-color: #8F233E
}

.navbar-custom .navbar-brand {
    background-color: #EB3131;
    color: #FFFFFF
}

.navbar-custom .navbar-brand:hover {
    background-color: #EB3131;
    color: #FFFFFF;
    text-decoration: underline;
}

.navbar-custom .navbar-nav>li>a {
    color: #FFFFFF
}

.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

.navbar-custom .navbar-nav>.active>a,
.navbar-custom .navbar-nav>.open>a,
.navbar-custom .navbar-nav>.open>a:hover,
.navbar-custom .navbar-nav>.open>a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

.dropdown-menu > .dropdown-header {
    color: #FFFFFF;
}

.dropdown-menu>li>a {
    color: #FFFFFF;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

.navbar-custom .navbar-nav>.dropdown>a .caret {
    border-top-color: #FFFFFF
}

.navbar-custom .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF
}

.navbar-custom .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #FFFFFF
}

.navbar-custom .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea4394+0,eb3131+100 */
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #18101B;
        border-right: 5px solid #261F27;
        color: white;
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -25px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

h1.page-header {
    background-color: #514952;
    border-bottom: none;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
}

.grid-item1,
.grid-item2 {
    margin-bottom: 5px;
}
