.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--1-Bullets {
    width: 9px;
    height: 16px;
    background-position: -1px -1px;
}

.sprite-A-W-P- {
    width: 30px;
    height: 9px;
    background-position: -12px -1px;
}

.sprite-AK-47 {
    width: 27px;
    height: 7px;
    background-position: -44px -1px;
}

.sprite-AKEY-47 {
    width: 26px;
    height: 10px;
    background-position: -73px -1px;
}

.sprite-AU-Gun {
    width: 17px;
    height: 13px;
    background-position: -101px -1px;
}

.sprite-Abyssal-Tentacle {
    width: 22px;
    height: 15px;
    background-position: -120px -1px;
}

.sprite-Aged-Bell {
    width: 13px;
    height: 13px;
    background-position: -144px -1px;
}

.sprite-Air-Strike {
    width: 17px;
    height: 16px;
    background-position: -159px -1px;
}

.sprite-Alien-Engine {
    width: 23px;
    height: 15px;
    background-position: -178px -1px;
}

.sprite-Alien-Sidearm {
    width: 16px;
    height: 9px;
    background-position: -203px -1px;
}

.sprite-Alpha-Bullets {
    width: 9px;
    height: 16px;
    background-position: -221px -1px;
}

.sprite-Ammo-Belt {
    width: 34px;
    height: 9px;
    background-position: -232px -1px;
}

.sprite-Ammo-Synthesizer {
    width: 11px;
    height: 14px;
    background-position: -268px -1px;
}

.sprite-Amulet-of-the-Pit-Lord {
    width: 21px;
    height: 22px;
    background-position: -281px -1px;
}

.sprite-Ancient-Hero_s-Bandana {
    width: 26px;
    height: 15px;
    background-position: -304px -1px;
}

.sprite-Angry-Bullets {
    width: 9px;
    height: 13px;
    background-position: -332px -1px;
}

.sprite-Antibody {
    width: 15px;
    height: 15px;
    background-position: -12px -16px;
}

.sprite-Anvillain {
    width: 16px;
    height: 13px;
    background-position: -29px -16px;
}

.sprite-Arcane-Gunpowder {
    width: 12px;
    height: 17px;
    background-position: -47px -16px;
}

.sprite-Armor-Synthesizer {
    width: 11px;
    height: 12px;
    background-position: -61px -16px;
}

.sprite-Armor-of-Thorns {
    width: 17px;
    height: 13px;
    background-position: -74px -16px;
}

.sprite-BSG {
    width: 25px;
    height: 14px;
    background-position: -93px -18px;
}

.sprite-Backpack {
    width: 17px;
    height: 14px;
    background-position: -232px -16px;
}

.sprite-Backup-Gun {
    width: 20px;
    height: 20px;
    background-position: -120px -18px;
}

.sprite-Badge {
    width: 11px;
    height: 12px;
    background-position: -144px -16px;
}

.sprite-Bait-Launcher {
    width: 25px;
    height: 15px;
    background-position: -178px -18px;
}

.sprite-Ballistic-Boots {
    width: 14px;
    height: 15px;
    background-position: -205px -16px;
}

.sprite-Ballot {
    width: 14px;
    height: 17px;
    background-position: -251px -16px;
}

.sprite-Banana {
    width: 7px;
    height: 14px;
    background-position: -332px -16px;
}

.sprite-Barrel {
    width: 14px;
    height: 9px;
    background-position: -29px -32px;
}

.sprite-Battery-Bullets {
    width: 9px;
    height: 15px;
    background-position: -1px -32px;
}

.sprite-Bee-Hive {
    width: 11px;
    height: 10px;
    background-position: -61px -32px;
}

.sprite-Betrayer_s-Shield {
    width: 19px;
    height: 13px;
    background-position: -304px -18px;
}

.sprite-Big-Boy {
    width: 16px;
    height: 13px;
    background-position: -74px -32px;
}

.sprite-Big-Iron {
    width: 26px;
    height: 11px;
    background-position: -142px -33px;
}

.sprite-Bionic-Leg {
    width: 10px;
    height: 15px;
    background-position: -221px -32px;
}

.sprite-Black-Hole-Gun {
    width: 32px;
    height: 16px;
    background-position: -267px -33px;
}

.sprite-Blank-Companion_s-Ring {
    width: 15px;
    height: 23px;
    background-position: -233px -32px;
}

.sprite-Blasphemy {
    width: 29px;
    height: 10px;
    background-position: -301px -33px;
}

.sprite-Blast-Helmet {
    width: 15px;
    height: 14px;
    background-position: -332px -32px;
}

.sprite-Blood-Brooch {
    width: 12px;
    height: 13px;
    background-position: -12px -48px;
}

.sprite-Bloodied-Scarf {
    width: 26px;
    height: 15px;
    background-position: -26px -45px;
}

.sprite-Bloody-Eye {
    width: 7px;
    height: 18px;
    background-position: -54px -48px;
}

.sprite-Blooper {
    width: 23px;
    height: 6px;
    background-position: -92px -45px;
}

.sprite-Blue-Guon-Stone {
    width: 9px;
    height: 14px;
    background-position: -63px -48px;
}

.sprite-Blunderbuss {
    width: 29px;
    height: 8px;
    background-position: -170px -45px;
}

.sprite-Bomb {
    width: 16px;
    height: 16px;
    background-position: -74px -48px;
}

.sprite-Book-of-Chest-Anatomy {
    width: 15px;
    height: 16px;
    background-position: -117px -48px;
}

.sprite-Boomerang {
    width: 11px;
    height: 11px;
    background-position: -134px -48px;
}

.sprite-Bouncy-Bullets {
    width: 9px;
    height: 13px;
    background-position: -147px -48px;
}

.sprite-Bow {
    width: 17px;
    height: 19px;
    background-position: -201px -48px;
}

.sprite-Box {
    width: 22px;
    height: 16px;
    background-position: -301px -45px;
}

.sprite-Bracket-Key {
    width: 11px;
    height: 12px;
    background-position: -250px -48px;
}

.sprite-Brick-Breaker {
    width: 28px;
    height: 16px;
    background-position: -1px -63px;
}

.sprite-Brick-of-Cash {
    width: 13px;
    height: 11px;
    background-position: -325px -48px;
}

.sprite-Briefcase-of-Cash {
    width: 18px;
    height: 13px;
    background-position: -92px -61px;
}

.sprite-Broccoli {
    width: 15px;
    height: 16px;
    background-position: -158px -61px;
}

.sprite-Budget-Revolver {
    width: 13px;
    height: 10px;
    background-position: -175px -61px;
}

.sprite-Bug-Boots {
    width: 20px;
    height: 19px;
    background-position: -220px -61px;
}

.sprite-Bullet-Bore {
    width: 24px;
    height: 16px;
    background-position: -263px -61px;
}

.sprite-Bullet-Idol {
    width: 14px;
    height: 18px;
    background-position: -325px -61px;
}

.sprite-Bullet-Time {
    width: 11px;
    height: 16px;
    background-position: -134px -61px;
}

.sprite-Bundle-of-Wands {
    width: 31px;
    height: 13px;
    background-position: -289px -63px;
}

.sprite-Busted-Television {
    width: 17px;
    height: 16px;
    background-position: -1px -81px;
}

.sprite-Buzzkill {
    width: 18px;
    height: 12px;
    background-position: -20px -81px;
}

.sprite-C4-_Item_ {
    width: 14px;
    height: 11px;
    background-position: -40px -81px;
}

.sprite-Cactus {
    width: 25px;
    height: 11px;
    background-position: -56px -81px;
}

.sprite-Camera {
    width: 14px;
    height: 20px;
    background-position: -83px -81px;
}

.sprite-Cartographer_s-Ring {
    width: 15px;
    height: 22px;
    background-position: -99px -81px;
}

.sprite-Cat-Claw {
    width: 19px;
    height: 16px;
    background-position: -116px -81px;
}

.sprite-Chaff-Grenade {
    width: 13px;
    height: 16px;
    background-position: -137px -81px;
}

.sprite-Chaos-Ammolet {
    width: 22px;
    height: 17px;
    background-position: -152px -81px;
}

.sprite-Charge-Shot {
    width: 26px;
    height: 9px;
    background-position: -176px -81px;
}

.sprite-Charm-Horn {
    width: 20px;
    height: 12px;
    background-position: -242px -81px;
}

.sprite-Charmed-Bow {
    width: 17px;
    height: 19px;
    background-position: -264px -81px;
}

.sprite-Cigarettes {
    width: 12px;
    height: 13px;
    background-position: -204px -81px;
}

.sprite-Clear-Guon-Stone {
    width: 9px;
    height: 14px;
    background-position: -283px -81px;
}

.sprite-Clone {
    width: 13px;
    height: 18px;
    background-position: -294px -81px;
}

.sprite-Cloranthy-Ring {
    width: 15px;
    height: 15px;
    background-position: -309px -81px;
}

.sprite-Cluster-Mine {
    width: 10px;
    height: 12px;
    background-position: -326px -81px;
}

.sprite-Cobalt-Hammer {
    width: 20px;
    height: 12px;
    background-position: -20px -95px;
}

.sprite-Cog-of-Battle {
    width: 15px;
    height: 15px;
    background-position: -42px -95px;
}

.sprite-Coin-Crown {
    width: 20px;
    height: 21px;
    background-position: -59px -95px;
}

.sprite-Cold-45 {
    width: 18px;
    height: 9px;
    background-position: -176px -95px;
}

.sprite-Colt-1851 {
    width: 19px;
    height: 8px;
    background-position: -218px -95px;
}

.sprite-Com4nd0 {
    width: 27px;
    height: 14px;
    background-position: -309px -98px;
}

.sprite-Composite-Gun {
    width: 15px;
    height: 10px;
    background-position: -239px -95px;
}

.sprite-Compressed-Air-Tank {
    width: 30px;
    height: 10px;
    background-position: -1px -114px;
}

.sprite-Coolant-Leak {
    width: 11px;
    height: 17px;
    background-position: -338px -81px;
}

.sprite-Copper-Ammolet {
    width: 22px;
    height: 17px;
    background-position: -33px -114px;
}

.sprite-Corsair {
    width: 23px;
    height: 15px;
    background-position: -81px -114px;
}

.sprite-Crescent-Crossbow {
    width: 24px;
    height: 10px;
    background-position: -106px -114px;
}

.sprite-Crestfaller {
    width: 26px;
    height: 12px;
    background-position: -132px -114px;
}

.sprite-Crossbow {
    width: 21px;
    height: 7px;
    background-position: -160px -114px;
}

.sprite-Crutch {
    width: 9px;
    height: 18px;
    background-position: -196px -100px;
}

.sprite-Dark-Marker {
    width: 26px;
    height: 13px;
    background-position: -207px -114px;
}

.sprite-Dart-Gun {
    width: 12px;
    height: 7px;
    background-position: -1px -100px;
}

.sprite-Deck4rd {
    width: 17px;
    height: 11px;
    background-position: -235px -114px;
}

.sprite-Decoy {
    width: 14px;
    height: 15px;
    background-position: -254px -114px;
}

.sprite-Demon-Head {
    width: 15px;
    height: 12px;
    background-position: -116px -100px;
}

.sprite-Derringer {
    width: 7px;
    height: 6px;
    background-position: -341px -16px;
}

.sprite-Disarming-Personality {
    width: 14px;
    height: 12px;
    background-position: -133px -100px;
}

.sprite-Disintegrator {
    width: 27px;
    height: 14px;
    background-position: -270px -114px;
}

.sprite-Dog {
    width: 14px;
    height: 14px;
    background-position: -299px -114px;
}

.sprite-Double-Vision {
    width: 14px;
    height: 17px;
    background-position: -315px -114px;
}

.sprite-Dragunfire {
    width: 21px;
    height: 13px;
    background-position: -1px -133px;
}

.sprite-Drum-Clip {
    width: 12px;
    height: 26px;
    background-position: -331px -114px;
}

.sprite-Duct-Tape {
    width: 10px;
    height: 10px;
    background-position: -158px -48px;
}

.sprite-Dueling-Pistol {
    width: 18px;
    height: 11px;
    background-position: -149px -100px;
}

.sprite-Dungeon-Eagle {
    width: 16px;
    height: 9px;
    background-position: -24px -142px;
}

.sprite-Easy-Reload-Bullets {
    width: 9px;
    height: 15px;
    background-position: -42px -142px;
}

.sprite-Elder-Blank {
    width: 15px;
    height: 15px;
    background-position: -53px -142px;
}

.sprite-Elephant-Gun {
    width: 31px;
    height: 9px;
    background-position: -70px -142px;
}

.sprite-Enraging-Photo {
    width: 16px;
    height: 16px;
    background-position: -103px -142px;
}

.sprite-Escape-Rope {
    width: 7px;
    height: 16px;
    background-position: -341px -48px;
}

.sprite-Excaliber {
    width: 39px;
    height: 13px;
    background-position: -121px -142px;
}

.sprite-Explosive-Decoy {
    width: 14px;
    height: 18px;
    background-position: -162px -142px;
}

.sprite-Explosive-Rounds {
    width: 9px;
    height: 15px;
    background-position: -178px -142px;
}

.sprite-Eye-of-the-Beholster {
    width: 22px;
    height: 16px;
    background-position: -189px -133px;
}

.sprite-Eyepatch {
    width: 14px;
    height: 11px;
    background-position: -213px -142px;
}

.sprite-Face-Melter {
    width: 32px;
    height: 14px;
    background-position: -229px -142px;
}

.sprite-Fat-Bullets {
    width: 11px;
    height: 13px;
    background-position: -263px -142px;
}

.sprite-Fightsabre {
    width: 32px;
    height: 12px;
    background-position: -276px -142px;
}

.sprite-Flame-Hand {
    width: 8px;
    height: 14px;
    background-position: -310px -142px;
}

.sprite-Flare-Gun {
    width: 17px;
    height: 10px;
    background-position: -31px -66px;
}

.sprite-Flash-Ray {
    width: 19px;
    height: 15px;
    background-position: -320px -142px;
}

.sprite-Fortune_s-Favor {
    width: 14px;
    height: 17px;
    background-position: -1px -159px;
}

.sprite-Fossilized-Gun {
    width: 23px;
    height: 15px;
    background-position: -17px -159px;
}

.sprite-Freeze-Ray {
    width: 18px;
    height: 10px;
    background-position: -63px -66px;
}

.sprite-Friendship-Cookie {
    width: 15px;
    height: 13px;
    background-position: -112px -66px;
}

.sprite-Frost-Ammolet {
    width: 22px;
    height: 17px;
    background-position: -42px -159px;
}

.sprite-Frost-Bullets {
    width: 9px;
    height: 13px;
    background-position: -66px -159px;
}

.sprite-Frost-Giant {
    width: 28px;
    height: 19px;
    background-position: -121px -159px;
}

.sprite-Galactic-Medal-of-Valor {
    width: 18px;
    height: 11px;
    background-position: -242px -66px;
}

.sprite-Gamma-Ray {
    width: 14px;
    height: 9px;
    background-position: -77px -159px;
}

.sprite-Gas-Mask {
    width: 15px;
    height: 18px;
    background-position: -178px -159px;
}

.sprite-Ghost-Bullets {
    width: 9px;
    height: 13px;
    background-position: -151px -159px;
}

.sprite-Gilded-Hydra {
    width: 21px;
    height: 12px;
    background-position: -195px -159px;
}

.sprite-Glacier {
    width: 19px;
    height: 13px;
    background-position: -218px -159px;
}

.sprite-Gold-Ammolet {
    width: 22px;
    height: 17px;
    background-position: -239px -159px;
}

.sprite-Grappling-Hook {
    width: 15px;
    height: 7px;
    background-position: -157px -24px;
}

.sprite-Grasschopper {
    width: 6px;
    height: 4px;
    background-position: -343px -1px;
}

.sprite-Green-Guon-Stone {
    width: 9px;
    height: 14px;
    background-position: -263px -159px;
}

.sprite-Grenade-Launcher {
    width: 21px;
    height: 11px;
    background-position: -274px -159px;
}

.sprite-Grey-Mauser-_Gun_ {
    width: 21px;
    height: 14px;
    background-position: -297px -159px;
}

.sprite-Gun-Soul {
    width: 14px;
    height: 16px;
    background-position: -320px -159px;
}

.sprite-Gunboots {
    width: 20px;
    height: 20px;
    background-position: -17px -177px;
}

.sprite-Gunbow {
    width: 16px;
    height: 20px;
    background-position: -66px -177px;
}

.sprite-Gundromeda-Strain {
    width: 12px;
    height: 20px;
    background-position: -336px -159px;
}

.sprite-Gungeon-Ant {
    width: 27px;
    height: 11px;
    background-position: -84px -181px;
}

.sprite-Gungeon-Blueprint {
    width: 26px;
    height: 21px;
    background-position: -113px -181px;
}

.sprite-Gungeon-Pepper {
    width: 8px;
    height: 11px;
    background-position: -147px -66px;
}

.sprite-Gungine {
    width: 26px;
    height: 14px;
    background-position: -141px -181px;
}

.sprite-Gunknight-Armor {
    width: 20px;
    height: 15px;
    background-position: -39px -181px;
}

.sprite-Gunknight-Gauntlet {
    width: 18px;
    height: 16px;
    background-position: -169px -181px;
}

.sprite-Gunknight-Greaves {
    width: 12px;
    height: 18px;
    background-position: -1px -181px;
}

.sprite-Gunknight-Helmet {
    width: 14px;
    height: 19px;
    background-position: -195px -177px;
}

.sprite-Gunslinger_s-Ashes {
    width: 28px;
    height: 10px;
    background-position: -211px -181px;
}

.sprite-Gunther {
    width: 25px;
    height: 13px;
    background-position: -241px -181px;
}

.sprite-Gunzheng {
    width: 21px;
    height: 22px;
    background-position: -268px -181px;
}

.sprite-H4mmer {
    width: 17px;
    height: 11px;
    background-position: -291px -181px;
}

.sprite-Hazmat-Suit {
    width: 12px;
    height: 11px;
    background-position: -310px -181px;
}

.sprite-Heart-Bottle {
    width: 20px;
    height: 15px;
    background-position: -324px -181px;
}

.sprite-Heart-Holster {
    width: 25px;
    height: 22px;
    background-position: -39px -198px;
}

.sprite-Heart-Locket {
    width: 19px;
    height: 23px;
    background-position: -84px -198px;
}

.sprite-Heart-Lunchbox {
    width: 18px;
    height: 18px;
    background-position: -141px -198px;
}

.sprite-Heart-Purse {
    width: 20px;
    height: 25px;
    background-position: -189px -198px;
}

.sprite-Heart-Synthesizer {
    width: 15px;
    height: 13px;
    background-position: -211px -198px;
}

.sprite-Heart-of-Ice {
    width: 15px;
    height: 16px;
    background-position: -228px -198px;
}

.sprite-Heavy-Boots {
    width: 20px;
    height: 18px;
    background-position: -245px -198px;
}

.sprite-Heavy-Bullets {
    width: 9px;
    height: 13px;
    background-position: -291px -198px;
}

.sprite-Heck-Blaster {
    width: 14px;
    height: 10px;
    background-position: -302px -198px;
}

.sprite-Hegemony-Carbine {
    width: 29px;
    height: 10px;
    background-position: -318px -198px;
}

.sprite-Hegemony-Credit {
    width: 11px;
    height: 13px;
    background-position: -1px -210px;
}

.sprite-Hegemony-Rifle {
    width: 30px;
    height: 12px;
    background-position: -105px -210px;
}

.sprite-Helix {
    width: 16px;
    height: 9px;
    background-position: -14px -210px;
}

.sprite-Heroine {
    width: 17px;
    height: 9px;
    background-position: -161px -210px;
}

.sprite-Hexagun {
    width: 32px;
    height: 10px;
    background-position: -302px -210px;
}

.sprite-Hidden-Compartment {
    width: 10px;
    height: 15px;
    background-position: -66px -210px;
}

.sprite-Hip-Holster {
    width: 25px;
    height: 19px;
    background-position: -14px -222px;
}

.sprite-Homing-Bullets {
    width: 11px;
    height: 13px;
    background-position: -267px -210px;
}

.sprite-Honeycomb {
    width: 13px;
    height: 14px;
    background-position: -336px -210px;
}

.sprite-Hot-Lead {
    width: 9px;
    height: 13px;
    background-position: -1px -226px;
}

.sprite-Huntsman {
    width: 26px;
    height: 14px;
    background-position: -137px -222px;
}

.sprite-IBomb-Companion-App {
    width: 16px;
    height: 12px;
    background-position: -41px -222px;
}

.sprite-Ice-Bomb {
    width: 16px;
    height: 16px;
    background-position: -165px -222px;
}

.sprite-Ice-Breaker {
    width: 27px;
    height: 9px;
    background-position: -211px -222px;
}

.sprite-Ice-Cube {
    width: 9px;
    height: 11px;
    background-position: -190px -66px;
}

.sprite-Iron-Coin {
    width: 18px;
    height: 17px;
    background-position: -240px -222px;
}

.sprite-Irradiated-Lead {
    width: 9px;
    height: 13px;
    background-position: -78px -226px;
}

.sprite-Jar-of-Bees {
    width: 11px;
    height: 16px;
    background-position: -89px -226px;
}

.sprite-Jetpack {
    width: 11px;
    height: 15px;
    background-position: -102px -226px;
}

.sprite-Jolter {
    width: 22px;
    height: 12px;
    background-position: -280px -222px;
}

.sprite-Junk {
    width: 12px;
    height: 13px;
    background-position: -115px -226px;
}

.sprite-Klobbe {
    width: 18px;
    height: 9px;
    background-position: -304px -222px;
}

.sprite-Knife-Shield {
    width: 10px;
    height: 12px;
    background-position: -338px -100px;
}

.sprite-Laser-Lotus {
    width: 24px;
    height: 15px;
    background-position: -183px -226px;
}

.sprite-Laser-Rifle {
    width: 27px;
    height: 9px;
    background-position: -209px -233px;
}

.sprite-Laser-Sight {
    width: 11px;
    height: 11px;
    background-position: -183px -114px;
}

.sprite-Lichy-Trigger-Finger {
    width: 18px;
    height: 10px;
    background-position: -260px -226px;
}

.sprite-Light-Gun {
    width: 15px;
    height: 9px;
    background-position: -324px -226px;
}

.sprite-Lil_-Bomber {
    width: 23px;
    height: 19px;
    background-position: -41px -237px;
}

.sprite-Liquid-Valkyrie {
    width: 7px;
    height: 18px;
    background-position: -341px -226px;
}

.sprite-Live-Ammo {
    width: 14px;
    height: 14px;
    background-position: -280px -237px;
}

.sprite-Lodestone-Ammolet {
    width: 22px;
    height: 17px;
    background-position: -1px -246px;
}

.sprite-Lower-Case-r {
    width: 13px;
    height: 12px;
    background-position: -296px -237px;
}

.sprite-Luxin-Cannon {
    width: 26px;
    height: 13px;
    background-position: -311px -237px;
}

.sprite-M1 {
    width: 31px;
    height: 6px;
    background-position: -66px -252px;
}

.sprite-M16 {
    width: 32px;
    height: 10px;
    background-position: -99px -252px;
}

.sprite-M1911 {
    width: 17px;
    height: 11px;
    background-position: -133px -246px;
}

.sprite-MAC10 {
    width: 24px;
    height: 14px;
    background-position: -152px -252px;
}

.sprite-Machine-Fist {
    width: 12px;
    height: 9px;
    background-position: -25px -252px;
}

.sprite-Machine-Pistol {
    width: 12px;
    height: 11px;
    background-position: -178px -252px;
}

.sprite-Magic-Lamp {
    width: 19px;
    height: 11px;
    background-position: -192px -252px;
}

.sprite-Magic-Sweet {
    width: 13px;
    height: 13px;
    background-position: -213px -252px;
}

.sprite-Magnum {
    width: 17px;
    height: 13px;
    background-position: -228px -246px;
}

.sprite-Mahoguny {
    width: 26px;
    height: 14px;
    background-position: -247px -252px;
}

.sprite-Mailbox {
    width: 14px;
    height: 14px;
    background-position: -296px -252px;
}

.sprite-Makarov {
    width: 13px;
    height: 10px;
    background-position: -312px -252px;
}

.sprite-Makeshift-Cannon {
    width: 26px;
    height: 11px;
    background-position: -25px -264px;
}

.sprite-Map {
    width: 26px;
    height: 21px;
    background-position: -53px -264px;
}

.sprite-Marine-Sidearm {
    width: 14px;
    height: 9px;
    background-position: -327px -252px;
}

.sprite-Mass-Shotgun {
    width: 23px;
    height: 12px;
    background-position: -81px -264px;
}

.sprite-Master-Round-I {
    width: 12px;
    height: 26px;
    background-position: -133px -263px;
}

.sprite-Master-Round-I {
    width: 12px;
    height: 26px;
    background-position: -228px -263px;
}

.sprite-Master-Round-II {
    width: 12px;
    height: 27px;
    background-position: -275px -263px;
}

.sprite-Master-Round-III {
    width: 12px;
    height: 28px;
    background-position: -327px -263px;
}

.sprite-Master-Round-IV {
    width: 12px;
    height: 27px;
    background-position: -1px -293px;
}

.sprite-Master-Round-V {
    width: 18px;
    height: 33px;
    background-position: -15px -293px;
}

.sprite-Master-of-Unlocking {
    width: 19px;
    height: 10px;
    background-position: -35px -293px;
}

.sprite-Meatbun {
    width: 10px;
    height: 10px;
    background-position: -56px -293px;
}

.sprite-Medkit {
    width: 13px;
    height: 9px;
    background-position: -68px -293px;
}

.sprite-Mega-Douser {
    width: 19px;
    height: 8px;
    background-position: -83px -293px;
}

.sprite-Megahand {
    width: 11px;
    height: 8px;
    background-position: -104px -293px;
}

.sprite-Melted-Rock {
    width: 16px;
    height: 16px;
    background-position: -117px -293px;
}

.sprite-Metronome {
    width: 10px;
    height: 9px;
    background-position: -66px -237px;
}

.sprite-Microtransaction-Gun {
    width: 20px;
    height: 19px;
    background-position: -135px -293px;
}

.sprite-Military-Training {
    width: 12px;
    height: 14px;
    background-position: -157px -293px;
}

.sprite-Mimic-Tooth-Necklace {
    width: 18px;
    height: 12px;
    background-position: -171px -293px;
}

.sprite-Mine-Cutter {
    width: 19px;
    height: 13px;
    background-position: -191px -293px;
}

.sprite-Molotov {
    width: 7px;
    height: 17px;
    background-position: -341px -263px;
}

.sprite-Molotov-Launcher {
    width: 32px;
    height: 8px;
    background-position: -1px -282px;
}

.sprite-Money {
    width: 9px;
    height: 9px;
    background-position: -207px -100px;
}

.sprite-Monster-Blood {
    width: 11px;
    height: 15px;
    background-position: -212px -293px;
}

.sprite-Moonscraper {
    width: 16px;
    height: 11px;
    background-position: -225px -293px;
}

.sprite-Muscle-Relaxant {
    width: 12px;
    height: 12px;
    background-position: -243px -293px;
}

.sprite-Mustache {
    width: 13px;
    height: 5px;
    background-position: -35px -282px;
}

.sprite-Mutation {
    width: 8px;
    height: 8px;
    background-position: -341px -66px;
}

.sprite-Nail-Gun {
    width: 8px;
    height: 9px;
    background-position: -283px -100px;
}

.sprite-Nanomachines {
    width: 15px;
    height: 11px;
    background-position: -257px -293px;
}

.sprite-Napalm-Strike {
    width: 17px;
    height: 16px;
    background-position: -274px -293px;
}

.sprite-Number-2 {
    width: 26px;
    height: 15px;
    background-position: -293px -293px;
}

.sprite-Obsidian-Shell-Casing {
    width: 13px;
    height: 20px;
    background-position: -321px -293px;
}

.sprite-Oiled-Cylinder {
    width: 16px;
    height: 16px;
    background-position: -35px -315px;
}

.sprite-Old-Crest {
    width: 14px;
    height: 16px;
    background-position: -53px -315px;
}

.sprite-Old-Goldie {
    width: 30px;
    height: 9px;
    background-position: -81px -282px;
}

.sprite-Old-Knight_s-Flask {
    width: 13px;
    height: 21px;
    background-position: -336px -293px;
}

.sprite-Old-Knight_s-Helm {
    width: 17px;
    height: 12px;
    background-position: -69px -316px;
}

.sprite-Old-Knight_s-Shield {
    width: 11px;
    height: 14px;
    background-position: -88px -316px;
}

.sprite-Omega-Bullets {
    width: 9px;
    height: 16px;
    background-position: -101px -316px;
}

.sprite-Orange {
    width: 14px;
    height: 13px;
    background-position: -112px -316px;
}

.sprite-Orange-Guon-Stone {
    width: 9px;
    height: 18px;
    background-position: -128px -316px;
}

.sprite-Origuni {
    width: 19px;
    height: 11px;
    background-position: -139px -316px;
}

.sprite-Owl {
    width: 17px;
    height: 16px;
    background-position: -160px -316px;
}

.sprite-Particulator {
    width: 28px;
    height: 12px;
    background-position: -179px -315px;
}

.sprite-Patriot {
    width: 26px;
    height: 13px;
    background-position: -209px -316px;
}

.sprite-Pea-Shooter {
    width: 14px;
    height: 10px;
    background-position: -237px -316px;
}

.sprite-Phoenix {
    width: 13px;
    height: 11px;
    background-position: -253px -316px;
}

.sprite-Pig {
    width: 15px;
    height: 17px;
    background-position: -268px -316px;
}

.sprite-Pink-Guon-Stone {
    width: 15px;
    height: 13px;
    background-position: -285px -316px;
}

.sprite-Pitchfork {
    width: 7px;
    height: 17px;
    background-position: -302px -316px;
}

.sprite-Plague-Pistol {
    width: 20px;
    height: 9px;
    background-position: -311px -316px;
}

.sprite-Planar-Lead {
    width: 16px;
    height: 17px;
    background-position: -333px -316px;
}

.sprite-Plunger {
    width: 23px;
    height: 7px;
    background-position: -24px -133px;
}

.sprite-Poison-Vial {
    width: 11px;
    height: 16px;
    background-position: -351px -1px;
}

.sprite-Polaris {
    width: 16px;
    height: 10px;
    background-position: -345px -114px;
}

.sprite-Portable-Turret {
    width: 11px;
    height: 18px;
    background-position: -350px -19px;
}

.sprite-Potion-of-Gun-Friendship {
    width: 11px;
    height: 17px;
    background-position: -350px -39px;
}

.sprite-Potion-of-Lead-Skin {
    width: 11px;
    height: 17px;
    background-position: -351px -58px;
}

.sprite-Prime-Primer {
    width: 12px;
    height: 14px;
    background-position: -57px -126px;
}

.sprite-Proton-Backpack {
    width: 25px;
    height: 8px;
    background-position: -147px -282px;
}

.sprite-Prototype-Railgun {
    width: 32px;
    height: 11px;
    background-position: -1px -335px;
}

.sprite-Proximity-Mine {
    width: 12px;
    height: 12px;
    background-position: -350px -100px;
}

.sprite-Pulse-Cannon {
    width: 26px;
    height: 10px;
    background-position: -35px -335px;
}

.sprite-Quad-Laser {
    width: 18px;
    height: 10px;
    background-position: -106px -126px;
}

.sprite-R2G2 {
    width: 15px;
    height: 18px;
    background-position: -345px -126px;
}

.sprite-RC-Rocket {
    width: 32px;
    height: 15px;
    background-position: -63px -335px;
}

.sprite-RPG {
    width: 29px;
    height: 9px;
    background-position: -174px -282px;
}

.sprite-RUBE-ADYNE-MK-II {
    width: 20px;
    height: 11px;
    background-position: -341px -146px;
}

.sprite-RUBE-ADYNE-Prototype {
    width: 18px;
    height: 11px;
    background-position: -343px -246px;
}

.sprite-Raiden-Coil {
    width: 30px;
    height: 11px;
    background-position: -139px -335px;
}

.sprite-Railgun {
    width: 32px;
    height: 10px;
    background-position: -171px -335px;
}

.sprite-Ration {
    width: 13px;
    height: 14px;
    background-position: -160px -126px;
}

.sprite-Rattler {
    width: 23px;
    height: 11px;
    background-position: -97px -335px;
}

.sprite-Red-Guon-Stone {
    width: 9px;
    height: 14px;
    background-position: -351px -77px;
}

.sprite-Regular-Shotgun {
    width: 24px;
    height: 5px;
    background-position: -1px -126px;
}

.sprite-Riddle-of-Lead {
    width: 12px;
    height: 18px;
    background-position: -350px -159px;
}

.sprite-Ring-of-Chest-Friendship {
    width: 15px;
    height: 22px;
    background-position: -205px -335px;
}

.sprite-Ring-of-Chest-Vampirism {
    width: 15px;
    height: 24px;
    background-position: -222px -335px;
}

.sprite-Ring-of-Ethereal-Form {
    width: 15px;
    height: 20px;
    background-position: -239px -335px;
}

.sprite-Ring-of-Fire-Resistance {
    width: 15px;
    height: 21px;
    background-position: -256px -335px;
}

.sprite-Ring-of-Mimic-Friendship {
    width: 15px;
    height: 23px;
    background-position: -273px -335px;
}

.sprite-Ring-of-Miserly-Protection {
    width: 15px;
    height: 23px;
    background-position: -290px -335px;
}

.sprite-Ring-of-Triggers {
    width: 15px;
    height: 15px;
    background-position: -346px -181px;
}

.sprite-Robot_s-Right-Hand {
    width: 7px;
    height: 5px;
    background-position: -1px -19px;
}

.sprite-Rocket-Powered-Bullets {
    width: 13px;
    height: 15px;
    background-position: -307px -335px;
}

.sprite-Rogue-Special {
    width: 12px;
    height: 10px;
    background-position: -267px -19px;
}

.sprite-Rolling-Eye {
    width: 15px;
    height: 15px;
    background-position: -322px -335px;
}

.sprite-Ruby-Bracelet {
    width: 16px;
    height: 16px;
    background-position: -339px -335px;
}

.sprite-Rusty-Sidearm {
    width: 18px;
    height: 10px;
    background-position: -1px -353px;
}

.sprite-SAA {
    width: 14px;
    height: 10px;
    background-position: -21px -353px;
}

.sprite-Sawed-Off {
    width: 16px;
    height: 5px;
    background-position: -201px -39px;
}

.sprite-Scattershot {
    width: 9px;
    height: 13px;
    background-position: -351px -198px;
}

.sprite-Science-Cannon {
    width: 23px;
    height: 13px;
    background-position: -37px -353px;
}

.sprite-Scope {
    width: 21px;
    height: 17px;
    background-position: -364px -1px;
}

.sprite-Screecher {
    width: 18px;
    height: 8px;
    background-position: -363px -20px;
}

.sprite-Sense-of-Direction {
    width: 17px;
    height: 20px;
    background-position: -363px -30px;
}

.sprite-Serious-Cannon {
    width: 25px;
    height: 11px;
    background-position: -351px -213px;
}

.sprite-Seven-Leaf-Clover {
    width: 13px;
    height: 15px;
    background-position: -364px -52px;
}

.sprite-Shades_s-Revolver {
    width: 17px;
    height: 12px;
    background-position: -364px -69px;
}

.sprite-Shadow-Bullets {
    width: 9px;
    height: 16px;
    background-position: -364px -83px;
}

.sprite-Shellegun {
    width: 15px;
    height: 13px;
    background-position: -364px -101px;
}

.sprite-Shelleton-Key {
    width: 20px;
    height: 20px;
    background-position: -363px -116px;
}

.sprite-Shield-of-the-Maiden {
    width: 16px;
    height: 15px;
    background-position: -363px -138px;
}

.sprite-Shock-Rifle {
    width: 24px;
    height: 13px;
    background-position: -350px -226px;
}

.sprite-Shock-Rounds {
    width: 9px;
    height: 13px;
    background-position: -375px -83px;
}

.sprite-Shotbow {
    width: 28px;
    height: 13px;
    background-position: -350px -259px;
}

.sprite-Shotga-Cola {
    width: 9px;
    height: 15px;
    background-position: -364px -155px;
}

.sprite-Shotgrub {
    width: 25px;
    height: 7px;
    background-position: -84px -172px;
}

.sprite-Shotgun-Coffee {
    width: 12px;
    height: 10px;
    background-position: -201px -69px;
}

.sprite-Shotgun-Full-of-Hate {
    width: 30px;
    height: 12px;
    background-position: -242px -274px;
}

.sprite-Shotgun-Full-of-Love {
    width: 29px;
    height: 14px;
    background-position: -289px -274px;
}

.sprite-Silencer {
    width: 24px;
    height: 24px;
    background-position: -351px -274px;
}

.sprite-Singularity {
    width: 11px;
    height: 15px;
    background-position: -364px -172px;
}

.sprite-Siren {
    width: 32px;
    height: 11px;
    background-position: -351px -300px;
}

.sprite-Sixth-Chamber {
    width: 18px;
    height: 25px;
    background-position: -357px -313px;
}

.sprite-Skull-Spitter {
    width: 23px;
    height: 12px;
    background-position: -362px -198px;
}

.sprite-Sling {
    width: 5px;
    height: 10px;
    background-position: -221px -20px;
}

.sprite-Smiley_s-Revolver {
    width: 17px;
    height: 12px;
    background-position: -363px -241px;
}

.sprite-Smoke-Bomb {
    width: 15px;
    height: 14px;
    background-position: -113px -274px;
}

.sprite-Snakemaker {
    width: 21px;
    height: 13px;
    background-position: -205px -274px;
}

.sprite-Sniper-Rifle {
    width: 30px;
    height: 9px;
    background-position: -247px -241px;
}

.sprite-Snowballer {
    width: 20px;
    height: 13px;
    background-position: -357px -340px;
}

.sprite-Space-Friend {
    width: 14px;
    height: 17px;
    background-position: -122px -340px;
}

.sprite-Spice {
    width: 20px;
    height: 21px;
    background-position: -62px -355px;
}

.sprite-Sponge {
    width: 13px;
    height: 16px;
    background-position: -84px -355px;
}

.sprite-Staff-of-Firepower {
    width: 20px;
    height: 13px;
    background-position: -99px -355px;
}

.sprite-Sticky-Crossbow {
    width: 13px;
    height: 10px;
    background-position: -218px -83px;
}

.sprite-Stinger {
    width: 32px;
    height: 12px;
    background-position: -138px -353px;
}

.sprite-Stuffed-Star {
    width: 19px;
    height: 18px;
    background-position: -172px -355px;
}

.sprite-Sunglasses {
    width: 18px;
    height: 9px;
    background-position: -152px -241px;
}

.sprite-Super-Hot-Watch {
    width: 22px;
    height: 22px;
    background-position: -307px -355px;
}

.sprite-Super-Meat-Gun {
    width: 14px;
    height: 11px;
    background-position: -293px -101px;
}

.sprite-Super-Space-Turtle {
    width: 11px;
    height: 8px;
    background-position: -50px -69px;
}

.sprite-Supply-Drop {
    width: 10px;
    height: 18px;
    background-position: -193px -355px;
}

.sprite-T-Shirt-Cannon {
    width: 22px;
    height: 8px;
    background-position: -331px -355px;
}

.sprite-Table-Tech-Blanks {
    width: 19px;
    height: 18px;
    background-position: -355px -355px;
}

.sprite-Table-Tech-Money {
    width: 19px;
    height: 18px;
    background-position: -387px -1px;
}

.sprite-Table-Tech-Rage {
    width: 19px;
    height: 18px;
    background-position: -383px -21px;
}

.sprite-Table-Tech-Rocket {
    width: 19px;
    height: 18px;
    background-position: -382px -41px;
}

.sprite-Table-Tech-Sight {
    width: 19px;
    height: 18px;
    background-position: -383px -61px;
}

.sprite-Table-Tech-Stun {
    width: 19px;
    height: 18px;
    background-position: -386px -81px;
}

.sprite-Tangler {
    width: 21px;
    height: 6px;
    background-position: -381px -101px;
}

.sprite-Tear-Jerker {
    width: 10px;
    height: 6px;
    background-position: -385px -109px;
}

.sprite-The-Emperor {
    width: 26px;
    height: 11px;
    background-position: -375px -155px;
}

.sprite-The-Judge {
    width: 19px;
    height: 11px;
    background-position: -385px -117px;
}

.sprite-The-Kiln {
    width: 23px;
    height: 13px;
    background-position: -381px -138px;
}

.sprite-The-Membrane {
    width: 25px;
    height: 12px;
    background-position: -377px -168px;
}

.sprite-The-Scrambler {
    width: 15px;
    height: 10px;
    background-position: -126px -130px;
}

.sprite-Thompson-Sub-Machinegun {
    width: 21px;
    height: 8px;
    background-position: -213px -130px;
}

.sprite-Thunderclap {
    width: 21px;
    height: 7px;
    background-position: -270px -130px;
}

.sprite-Trashcannon {
    width: 31px;
    height: 16px;
    background-position: -1px -375px;
}

.sprite-Trick-Gun {
    width: 15px;
    height: 10px;
    background-position: -143px -130px;
}

.sprite-Trident {
    width: 32px;
    height: 12px;
    background-position: -84px -375px;
}

.sprite-Triple-Crossbow {
    width: 22px;
    height: 13px;
    background-position: -377px -182px;
}

.sprite-Trusty-Lockpicks {
    width: 5px;
    height: 16px;
    background-position: -93px -153px;
}

.sprite-Unfinished-Gun {
    width: 23px;
    height: 14px;
    background-position: -378px -212px;
}

.sprite-Unicorn-Horn {
    width: 31px;
    height: 14px;
    background-position: -118px -375px;
}

.sprite-Unity {
    width: 15px;
    height: 18px;
    background-position: -382px -228px;
}

.sprite-Uranium-Ammolet {
    width: 22px;
    height: 17px;
    background-position: -382px -248px;
}

.sprite-Utility-Belt {
    width: 27px;
    height: 9px;
    background-position: -377px -274px;
}

.sprite-VertebraeK-47 {
    width: 28px;
    height: 14px;
    background-position: -377px -313px;
}

.sprite-Void-Core-Assault-Rifle {
    width: 28px;
    height: 11px;
    background-position: -377px -285px;
}

.sprite-Void-Marshal {
    width: 16px;
    height: 10px;
    background-position: -236px -130px;
}

.sprite-Void-Shotgun {
    width: 20px;
    height: 8px;
    background-position: -293px -130px;
}

.sprite-Vulcan-Cannon {
    width: 26px;
    height: 12px;
    background-position: -379px -329px;
}

.sprite-Wax-Wings {
    width: 13px;
    height: 13px;
    background-position: -387px -197px;
}

.sprite-White-Guon-Stone {
    width: 9px;
    height: 12px;
    background-position: -1px -267px;
}

.sprite-Winchester {
    width: 18px;
    height: 5px;
    background-position: -117px -41px;
}

.sprite-Winchester-Rifle {
    width: 32px;
    height: 8px;
    background-position: -151px -375px;
}

.sprite-Wind-Up-Gun {
    width: 26px;
    height: 10px;
    background-position: -379px -343px;
}

.sprite-Wingman {
    width: 13px;
    height: 13px;
    background-position: -178px -267px;
}

.sprite-Witch-Pistol {
    width: 22px;
    height: 10px;
    background-position: -376px -355px;
}

.sprite-Wolf {
    width: 18px;
    height: 18px;
    background-position: -205px -367px;
}

.sprite-Yari-Launcher {
    width: 27px;
    height: 9px;
    background-position: -225px -367px;
}

.sprite-Zilla-Shotgun {
    width: 25px;
    height: 11px;
    background-position: -254px -367px;
}

.sprite-Zorgun {
    width: 25px;
    height: 15px;
    background-position: -376px -367px;
}
