.gameObject {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.gameObject-1-Bullets {
    width: 27px;
    height: 48px;
    background-position: -2px -2px;
}

.gameObject-Black-Hole-Gun {
    width: 96px;
    height: 48px;
    background-position: -33px -2px;
}

.gameObject-Fightsabre {
    width: 96px;
    height: 36px;
    background-position: -133px -2px;
}

.gameObject-Hexagun {
    width: 96px;
    height: 30px;
    background-position: -233px -2px;
}

.gameObject-M16 {
    width: 96px;
    height: 30px;
    background-position: -333px -2px;
}

.gameObject-Molotov-Launcher {
    width: 96px;
    height: 24px;
    background-position: -433px -2px;
}

.gameObject-Prototype-Railgun {
    width: 96px;
    height: 33px;
    background-position: -533px -2px;
}

.gameObject-RC-Rocket {
    width: 96px;
    height: 45px;
    background-position: -633px -2px;
}

.gameObject-Railgun {
    width: 96px;
    height: 30px;
    background-position: -733px -2px;
}

.gameObject-Siren {
    width: 96px;
    height: 33px;
    background-position: -833px -2px;
}

.gameObject-Trident {
    width: 96px;
    height: 36px;
    background-position: -233px -39px;
}

.gameObject-Winchester-Rifle {
    width: 96px;
    height: 24px;
    background-position: -333px -39px;
}

.gameObject-38-Special {
    width: 45px;
    height: 33px;
    background-position: -933px -2px;
}

.gameObject-A-W-P- {
    width: 90px;
    height: 27px;
    background-position: -433px -39px;
}

.gameObject-AK-47 {
    width: 81px;
    height: 21px;
    background-position: -527px -39px;
}

.gameObject-AKEY-47 {
    width: 78px;
    height: 30px;
    background-position: -733px -39px;
}

.gameObject-AU-Gun {
    width: 51px;
    height: 39px;
    background-position: -815px -39px;
}

.gameObject-Abyssal-Tentacle {
    width: 66px;
    height: 45px;
    background-position: -870px -39px;
}

.gameObject-Aged-Bell {
    width: 39px;
    height: 39px;
    background-position: -940px -39px;
}

.gameObject-Air-Strike {
    width: 51px;
    height: 48px;
    background-position: -2px -82px;
}

.gameObject-Alien-Engine {
    width: 69px;
    height: 45px;
    background-position: -57px -88px;
}

.gameObject-Alien-Sidearm {
    width: 48px;
    height: 27px;
    background-position: -130px -82px;
}

.gameObject-Alpha-Bullets {
    width: 27px;
    height: 48px;
    background-position: -182px -82px;
}

.gameObject-Ammo-Belt {
    width: 102px;
    height: 27px;
    background-position: -213px -82px;
}

.gameObject-Ammo-Synthesizer {
    width: 33px;
    height: 42px;
    background-position: -319px -82px;
}

.gameObject-Amulet-of-the-Pit-Lord {
    width: 63px;
    height: 66px;
    background-position: -356px -82px;
}

.gameObject-Ancient-Hero_s-Bandana {
    width: 78px;
    height: 45px;
    background-position: -423px -88px;
}

.gameObject-Angry-Bullets {
    width: 27px;
    height: 39px;
    background-position: -505px -82px;
}

.gameObject-Antibody {
    width: 45px;
    height: 45px;
    background-position: -536px -82px;
}

.gameObject-Anvillain {
    width: 48px;
    height: 39px;
    background-position: -585px -82px;
}

.gameObject-Arcane-Gunpowder {
    width: 36px;
    height: 51px;
    background-position: -637px -82px;
}

.gameObject-Armor-Synthesizer {
    width: 33px;
    height: 36px;
    background-position: -677px -82px;
}

.gameObject-Armor-of-Thorns {
    width: 51px;
    height: 39px;
    background-position: -714px -82px;
}

.gameObject-BSG {
    width: 75px;
    height: 42px;
    background-position: -769px -88px;
}

.gameObject-Backpack {
    width: 51px;
    height: 42px;
    background-position: -940px -82px;
}

.gameObject-Backup-Gun {
    width: 60px;
    height: 60px;
    background-position: -213px -128px;
}

.gameObject-Badge {
    width: 33px;
    height: 36px;
    background-position: -130px -128px;
}

.gameObject-Bait-Launcher {
    width: 75px;
    height: 45px;
    background-position: -848px -88px;
}

.gameObject-Ballistic-Boots {
    width: 42px;
    height: 45px;
    background-position: -277px -128px;
}

.gameObject-Ballot {
    width: 42px;
    height: 51px;
    background-position: -585px -128px;
}

.gameObject-Banana {
    width: 21px;
    height: 42px;
    background-position: -983px -2px;
}

.gameObject-Barrel {
    width: 42px;
    height: 27px;
    background-position: -133px -48px;
}

.gameObject-Battery-Bullets {
    width: 27px;
    height: 45px;
    background-position: -323px -128px;
}

.gameObject-Bee-Hive {
    width: 33px;
    height: 30px;
    background-position: -677px -128px;
}

.gameObject-Betrayer_s-Shield {
    width: 57px;
    height: 39px;
    background-position: -927px -128px;
}

.gameObject-Big-Boy {
    width: 48px;
    height: 39px;
    background-position: -714px -128px;
}

.gameObject-Big-Iron {
    width: 78px;
    height: 33px;
    background-position: -2px -171px;
}

.gameObject-Bionic-Leg {
    width: 30px;
    height: 45px;
    background-position: -84px -171px;
}

.gameObject-Blank-Companion_s-Ring {
    width: 45px;
    height: 69px;
    background-position: -118px -171px;
}

.gameObject-Blasphemy {
    width: 87px;
    height: 30px;
    background-position: -2px -137px;
}

.gameObject-Blast-Helmet {
    width: 45px;
    height: 42px;
    background-position: -354px -171px;
}

.gameObject-Blood-Brooch {
    width: 36px;
    height: 39px;
    background-position: -167px -171px;
}

.gameObject-Bloodied-Scarf {
    width: 78px;
    height: 45px;
    background-position: -403px -171px;
}

.gameObject-Bloody-Eye {
    width: 21px;
    height: 54px;
    background-position: -505px -128px;
}

.gameObject-Blooper {
    width: 69px;
    height: 18px;
    background-position: -631px -171px;
}

.gameObject-Blue-Guon-Stone {
    width: 27px;
    height: 42px;
    background-position: -530px -171px;
}

.gameObject-Blunderbuss {
    width: 87px;
    height: 24px;
    background-position: -766px -137px;
}

.gameObject-Bomb {
    width: 48px;
    height: 48px;
    background-position: -704px -171px;
}

.gameObject-Book-of-Chest-Anatomy {
    width: 45px;
    height: 48px;
    background-position: -756px -171px;
}

.gameObject-Boomerang {
    width: 33px;
    height: 33px;
    background-position: -805px -171px;
}

.gameObject-Bouncy-Bullets {
    width: 27px;
    height: 39px;
    background-position: -842px -171px;
}

.gameObject-Bow {
    width: 51px;
    height: 57px;
    background-position: -873px -171px;
}

.gameObject-Box {
    width: 66px;
    height: 48px;
    background-position: -928px -171px;
}

.gameObject-Bracket-Key {
    width: 33px;
    height: 36px;
    background-position: -2px -223px;
}

.gameObject-Brick-Breaker {
    width: 84px;
    height: 48px;
    background-position: -167px -232px;
}

.gameObject-Brick-of-Cash {
    width: 39px;
    height: 33px;
    background-position: -39px -223px;
}

.gameObject-Briefcase-of-Cash {
    width: 54px;
    height: 39px;
    background-position: -255px -223px;
}

.gameObject-Broccoli {
    width: 45px;
    height: 48px;
    background-position: -313px -223px;
}

.gameObject-Budget-Revolver {
    width: 39px;
    height: 30px;
    background-position: -362px -223px;
}

.gameObject-Bug-Boots {
    width: 60px;
    height: 57px;
    background-position: -405px -223px;
}

.gameObject-Bullet-Bore {
    width: 72px;
    height: 48px;
    background-position: -469px -223px;
}

.gameObject-Bullet-Idol {
    width: 42px;
    height: 54px;
    background-position: -545px -223px;
}

.gameObject-Bullet-Time {
    width: 33px;
    height: 48px;
    background-position: -591px -223px;
}

.gameObject-Bundle-of-Wands {
    width: 93px;
    height: 39px;
    background-position: -628px -232px;
}

.gameObject-Busted-Television {
    width: 51px;
    height: 48px;
    background-position: -725px -223px;
}

.gameObject-Buzzkill {
    width: 54px;
    height: 36px;
    background-position: -780px -223px;
}

.gameObject-C4 {
    width: 42px;
    height: 33px;
    background-position: -928px -223px;
}

.gameObject-Cactus {
    width: 75px;
    height: 33px;
    background-position: -39px -260px;
}

.gameObject-Camera {
    width: 42px;
    height: 60px;
    background-position: -118px -260px;
}

.gameObject-Cartographer_s-Ring {
    width: 45px;
    height: 66px;
    background-position: -838px -260px;
}

.gameObject-Cat-Claw {
    width: 57px;
    height: 48px;
    background-position: -887px -260px;
}

.gameObject-Chaff-Grenade {
    width: 39px;
    height: 48px;
    background-position: -362px -260px;
}

.gameObject-Chaos-Ammolet {
    width: 66px;
    height: 51px;
    background-position: -2px -312px;
}

.gameObject-Charge-Shot {
    width: 78px;
    height: 27px;
    background-position: -164px -312px;
}

.gameObject-Charm-Horn {
    width: 60px;
    height: 36px;
    background-position: -246px -312px;
}

.gameObject-Charmed-Bow {
    width: 51px;
    height: 57px;
    background-position: -948px -260px;
}

.gameObject-Cigarettes {
    width: 36px;
    height: 39px;
    background-position: -72px -321px;
}

.gameObject-Clear-Guon-Stone {
    width: 27px;
    height: 42px;
    background-position: -310px -321px;
}

.gameObject-Clone {
    width: 39px;
    height: 54px;
    background-position: -341px -321px;
}

.gameObject-Cloranthy-Ring {
    width: 45px;
    height: 45px;
    background-position: -384px -321px;
}

.gameObject-Cluster-Mine {
    width: 30px;
    height: 36px;
    background-position: -433px -321px;
}

.gameObject-Cobalt-Hammer {
    width: 60px;
    height: 36px;
    background-position: -467px -312px;
}

.gameObject-Cog-of-Battle {
    width: 45px;
    height: 45px;
    background-position: -531px -321px;
}

.gameObject-Coin-Crown {
    width: 60px;
    height: 63px;
    background-position: -580px -312px;
}

.gameObject-Cold-45 {
    width: 54px;
    height: 27px;
    background-position: -644px -321px;
}

.gameObject-Colt-1851 {
    width: 57px;
    height: 24px;
    background-position: -702px -321px;
}

.gameObject-Com4nd0 {
    width: 81px;
    height: 42px;
    background-position: -887px -321px;
}

.gameObject-Composite-Gun {
    width: 45px;
    height: 30px;
    background-position: -179px -48px;
}

.gameObject-Compressed-Air-Tank {
    width: 90px;
    height: 30px;
    background-position: -2px -367px;
}

.gameObject-Coolant-Leak {
    width: 33px;
    height: 51px;
    background-position: -763px -321px;
}

.gameObject-Copper-Ammolet {
    width: 66px;
    height: 51px;
    background-position: -96px -367px;
}

.gameObject-Corsair {
    width: 69px;
    height: 45px;
    background-position: -166px -367px;
}

.gameObject-Crescent-Crossbow {
    width: 72px;
    height: 30px;
    background-position: -239px -367px;
}

.gameObject-Crestfaller {
    width: 78px;
    height: 36px;
    background-position: -433px -367px;
}

.gameObject-Crossbow {
    width: 63px;
    height: 21px;
    background-position: -644px -367px;
}

.gameObject-Crutch {
    width: 27px;
    height: 54px;
    background-position: -800px -321px;
}

.gameObject-Dark-Marker {
    width: 78px;
    height: 39px;
    background-position: -831px -367px;
}

.gameObject-Dart-Gun {
    width: 36px;
    height: 21px;
    background-position: -711px -367px;
}

.gameObject-Deck4rd {
    width: 51px;
    height: 33px;
    background-position: -913px -367px;
}

.gameObject-Decoy {
    width: 42px;
    height: 45px;
    background-position: -2px -404px;
}

.gameObject-Demon-Head {
    width: 45px;
    height: 36px;
    background-position: -239px -404px;
}

.gameObject-Derringer {
    width: 21px;
    height: 18px;
    background-position: -983px -48px;
}

.gameObject-Disarming-Personality {
    width: 42px;
    height: 36px;
    background-position: -48px -404px;
}

.gameObject-Disintegrator {
    width: 81px;
    height: 42px;
    background-position: -288px -404px;
}

.gameObject-Dog {
    width: 42px;
    height: 42px;
    background-position: -373px -404px;
}

.gameObject-Double-Vision {
    width: 42px;
    height: 51px;
    background-position: -515px -404px;
}

.gameObject-Dragunfire {
    width: 63px;
    height: 39px;
    background-position: -561px -404px;
}

.gameObject-Drum-Clip {
    width: 36px;
    height: 78px;
    background-position: -968px -367px;
}

.gameObject-Duct-Tape {
    width: 30px;
    height: 30px;
    background-position: -82px -223px;
}

.gameObject-Dueling-Pistol {
    width: 54px;
    height: 33px;
    background-position: -48px -449px;
}

.gameObject-Dungeon-Eagle {
    width: 48px;
    height: 27px;
    background-position: -628px -404px;
}

.gameObject-Easy-Reload-Bullets {
    width: 27px;
    height: 45px;
    background-position: -106px -449px;
}

.gameObject-Elder-Blank {
    width: 45px;
    height: 45px;
    background-position: -680px -404px;
}

.gameObject-Elephant-Gun {
    width: 93px;
    height: 27px;
    background-position: -137px -449px;
}

.gameObject-Enraging-Photo {
    width: 48px;
    height: 48px;
    background-position: -729px -404px;
}

.gameObject-Escape-Rope {
    width: 21px;
    height: 48px;
    background-position: -234px -449px;
}

.gameObject-Excaliber {
    width: 117px;
    height: 39px;
    background-position: -781px -410px;
}

.gameObject-Explosive-Decoy {
    width: 42px;
    height: 54px;
    background-position: -913px -404px;
}

.gameObject-Explosive-Rounds {
    width: 27px;
    height: 45px;
    background-position: -419px -449px;
}

.gameObject-Eye-of-the-Beholster {
    width: 66px;
    height: 48px;
    background-position: -259px -462px;
}

.gameObject-Eyepatch {
    width: 42px;
    height: 33px;
    background-position: -450px -449px;
}

.gameObject-Face-Melter {
    width: 96px;
    height: 42px;
    background-position: -496px -462px;
}

.gameObject-Fat-Bullets {
    width: 33px;
    height: 39px;
    background-position: -972px -321px;
}

.gameObject-Flame-Hand {
    width: 24px;
    height: 42px;
    background-position: -596px -449px;
}

.gameObject-Flare-Gun {
    width: 51px;
    height: 30px;
    background-position: -329px -462px;
}

.gameObject-Flash-Ray {
    width: 57px;
    height: 45px;
    background-position: -624px -462px;
}

.gameObject-Fortune_s-Favor {
    width: 42px;
    height: 51px;
    background-position: -959px -449px;
}

.gameObject-Fossilized-Gun {
    width: 69px;
    height: 45px;
    background-position: -685px -462px;
}

.gameObject-Freeze-Ray {
    width: 54px;
    height: 30px;
    background-position: -2px -504px;
}

.gameObject-Friendship-Cookie {
    width: 45px;
    height: 39px;
    background-position: -60px -504px;
}

.gameObject-Frost-Ammolet {
    width: 66px;
    height: 51px;
    background-position: -758px -462px;
}

.gameObject-Frost-Bullets {
    width: 27px;
    height: 39px;
    background-position: -109px -504px;
}

.gameObject-Frost-Giant {
    width: 84px;
    height: 57px;
    background-position: -828px -462px;
}

.gameObject-Galactic-Medal-of-Valor {
    width: 54px;
    height: 33px;
    background-position: -140px -504px;
}

.gameObject-Gamma-Ray {
    width: 42px;
    height: 27px;
    background-position: -198px -504px;
}

.gameObject-Gas-Mask {
    width: 45px;
    height: 54px;
    background-position: -329px -504px;
}

.gameObject-Ghost-Bullets {
    width: 27px;
    height: 39px;
    background-position: -378px -504px;
}

.gameObject-Gilded-Hydra {
    width: 63px;
    height: 36px;
    background-position: -409px -504px;
}

.gameObject-Glacier {
    width: 57px;
    height: 39px;
    background-position: -916px -504px;
}

.gameObject-Gold-Ammolet {
    width: 66px;
    height: 51px;
    background-position: -2px -547px;
}

.gameObject-Grappling-Hook {
    width: 45px;
    height: 21px;
    background-position: -72px -547px;
}

.gameObject-Grasschopper {
    width: 18px;
    height: 12px;
    background-position: -57px -70px;
}

.gameObject-Green-Guon-Stone {
    width: 27px;
    height: 42px;
    background-position: -977px -504px;
}

.gameObject-Grenade-Launcher {
    width: 63px;
    height: 33px;
    background-position: -121px -550px;
}

.gameObject-Grey-Mauser-_Gun_ {
    width: 63px;
    height: 42px;
    background-position: -188px -550px;
}

.gameObject-Gun-Soul {
    width: 42px;
    height: 48px;
    background-position: -255px -547px;
}

.gameObject-Gunboots {
    width: 60px;
    height: 60px;
    background-position: -378px -550px;
}

.gameObject-Gunbow {
    width: 48px;
    height: 60px;
    background-position: -442px -547px;
}

.gameObject-Gundromeda-Strain {
    width: 36px;
    height: 60px;
    background-position: -494px -547px;
}

.gameObject-Gungeon-Ant {
    width: 81px;
    height: 33px;
    background-position: -534px -550px;
}

.gameObject-Gungeon-Blueprint {
    width: 78px;
    height: 63px;
    background-position: -619px -550px;
}

.gameObject-Gungeon-Pepper {
    width: 24px;
    height: 33px;
    background-position: -838px -223px;
}

.gameObject-Gungine {
    width: 78px;
    height: 42px;
    background-position: -701px -550px;
}

.gameObject-Gunknight-Armor {
    width: 60px;
    height: 45px;
    background-position: -783px -550px;
}

.gameObject-Gunknight-Gauntlet {
    width: 54px;
    height: 48px;
    background-position: -847px -547px;
}

.gameObject-Gunknight-Greaves {
    width: 36px;
    height: 54px;
    background-position: -905px -547px;
}

.gameObject-Gunknight-Helmet {
    width: 42px;
    height: 57px;
    background-position: -945px -550px;
}

.gameObject-Gunslinger_s-Ashes {
    width: 84px;
    height: 30px;
    background-position: -2px -605px;
}

.gameObject-Gunther {
    width: 75px;
    height: 39px;
    background-position: -90px -611px;
}

.gameObject-Gunzheng {
    width: 63px;
    height: 66px;
    background-position: -169px -611px;
}

.gameObject-H4mmer {
    width: 51px;
    height: 33px;
    background-position: -236px -611px;
}

.gameObject-Hazmat-Suit {
    width: 36px;
    height: 33px;
    background-position: -291px -611px;
}

.gameObject-Heart-Bottle {
    width: 60px;
    height: 45px;
    background-position: -442px -611px;
}

.gameObject-Heart-Holster {
    width: 75px;
    height: 66px;
    background-position: -506px -611px;
}

.gameObject-Heart-Locket {
    width: 57px;
    height: 69px;
    background-position: -701px -611px;
}

.gameObject-Heart-Lunchbox {
    width: 54px;
    height: 54px;
    background-position: -762px -611px;
}

.gameObject-Heart-Purse {
    width: 60px;
    height: 75px;
    background-position: -820px -611px;
}

.gameObject-Heart-Synthesizer {
    width: 45px;
    height: 39px;
    background-position: -884px -611px;
}

.gameObject-Heart-of-Ice {
    width: 45px;
    height: 48px;
    background-position: -933px -611px;
}

.gameObject-Heavy-Boots {
    width: 60px;
    height: 54px;
    background-position: -2px -663px;
}

.gameObject-Heavy-Bullets {
    width: 27px;
    height: 39px;
    background-position: -331px -611px;
}

.gameObject-Heck-Blaster {
    width: 42px;
    height: 30px;
    background-position: -66px -663px;
}

.gameObject-Hegemony-Carbine {
    width: 87px;
    height: 30px;
    background-position: -236px -654px;
}

.gameObject-Hegemony-Credit {
    width: 33px;
    height: 39px;
    background-position: -112px -663px;
}

.gameObject-Hegemony-Rifle {
    width: 90px;
    height: 36px;
    background-position: -327px -654px;
}

.gameObject-Helix {
    width: 48px;
    height: 27px;
    background-position: -421px -663px;
}

.gameObject-Heroine {
    width: 51px;
    height: 27px;
    background-position: -585px -663px;
}

.gameObject-Hidden-Compartment {
    width: 30px;
    height: 45px;
    background-position: -585px -611px;
}

.gameObject-Hip-Holster {
    width: 75px;
    height: 57px;
    background-position: -884px -663px;
}

.gameObject-Homing-Bullets {
    width: 33px;
    height: 39px;
    background-position: -640px -663px;
}

.gameObject-Honeycomb {
    width: 39px;
    height: 42px;
    background-position: -963px -663px;
}

.gameObject-Hot-Lead {
    width: 27px;
    height: 39px;
    background-position: -473px -663px;
}

.gameObject-Huntsman {
    width: 78px;
    height: 42px;
    background-position: -66px -709px;
}

.gameObject-iBomb-Companion-App {
    width: 48px;
    height: 36px;
    background-position: -2px -724px;
}

.gameObject-Ice-Bomb {
    width: 48px;
    height: 48px;
    background-position: -148px -724px;
}

.gameObject-Ice-Breaker {
    width: 81px;
    height: 27px;
    background-position: -200px -709px;
}

.gameObject-Ice-Cube {
    width: 27px;
    height: 33px;
    background-position: -974px -223px;
}

.gameObject-Iron-Coin {
    width: 54px;
    height: 51px;
    background-position: -285px -724px;
}

.gameObject-Irradiated-Lead {
    width: 27px;
    height: 39px;
    background-position: -343px -709px;
}

.gameObject-Jar-of-Bees {
    width: 33px;
    height: 48px;
    background-position: -374px -709px;
}

.gameObject-Jetpack {
    width: 33px;
    height: 45px;
    background-position: -411px -709px;
}

.gameObject-Jolter {
    width: 66px;
    height: 36px;
    background-position: -448px -724px;
}

.gameObject-Junk {
    width: 36px;
    height: 39px;
    background-position: -518px -709px;
}

.gameObject-Klobbe {
    width: 54px;
    height: 27px;
    background-position: -558px -724px;
}

.gameObject-Knife-Shield {
    width: 30px;
    height: 36px;
    background-position: -616px -709px;
}

.gameObject-Laser-Lotus {
    width: 72px;
    height: 45px;
    background-position: -650px -724px;
}

.gameObject-Laser-Rifle {
    width: 81px;
    height: 27px;
    background-position: -726px -709px;
}

.gameObject-Laser-Sight {
    width: 33px;
    height: 33px;
    background-position: -811px -709px;
}

.gameObject-Lichy-Trigger-Finger {
    width: 54px;
    height: 30px;
    background-position: -848px -724px;
}

.gameObject-Light-Gun {
    width: 45px;
    height: 27px;
    background-position: -906px -724px;
}

.gameObject-Lil_-Bomber {
    width: 69px;
    height: 57px;
    background-position: -54px -755px;
}

.gameObject-Liquid-Valkyrie {
    width: 21px;
    height: 54px;
    background-position: -301px -550px;
}

.gameObject-Live-Ammo {
    width: 42px;
    height: 42px;
    background-position: -963px -709px;
}

.gameObject-Lodestone-Ammolet {
    width: 66px;
    height: 51px;
    background-position: -200px -755px;
}

.gameObject-Lower-Case-r {
    width: 39px;
    height: 36px;
    background-position: -518px -755px;
}

.gameObject-Luxin-Cannon {
    width: 78px;
    height: 39px;
    background-position: -561px -755px;
}

.gameObject-M1 {
    width: 93px;
    height: 18px;
    background-position: -476px -523px;
}

.gameObject-M1911 {
    width: 51px;
    height: 33px;
    background-position: -726px -755px;
}

.gameObject-MAC10 {
    width: 72px;
    height: 42px;
    background-position: -906px -755px;
}

.gameObject-Machine-Fist {
    width: 36px;
    height: 27px;
    background-position: -781px -755px;
}

.gameObject-Machine-Pistol {
    width: 36px;
    height: 33px;
    background-position: -2px -801px;
}

.gameObject-Magic-Lamp {
    width: 57px;
    height: 33px;
    background-position: -127px -801px;
}

.gameObject-Magic-Sweet {
    width: 39px;
    height: 39px;
    background-position: -270px -801px;
}

.gameObject-Magnum {
    width: 51px;
    height: 39px;
    background-position: -313px -801px;
}

.gameObject-Mahoguny {
    width: 78px;
    height: 42px;
    background-position: -368px -801px;
}

.gameObject-Mailbox {
    width: 42px;
    height: 42px;
    background-position: -450px -801px;
}

.gameObject-Makarov {
    width: 39px;
    height: 30px;
    background-position: -496px -801px;
}

.gameObject-Makeshift-Cannon {
    width: 78px;
    height: 33px;
    background-position: -539px -801px;
}

.gameObject-Map {
    width: 78px;
    height: 63px;
    background-position: -621px -801px;
}

.gameObject-Marine-Sidearm {
    width: 42px;
    height: 27px;
    background-position: -703px -801px;
}

.gameObject-Mass-Shotgun {
    width: 69px;
    height: 36px;
    background-position: -749px -801px;
}

.gameObject-Master-Round-I {
    width: 36px;
    height: 78px;
    background-position: -822px -801px;
}

.gameObject-Master-Round-II {
    width: 36px;
    height: 81px;
    background-position: -862px -801px;
}

.gameObject-Master-Round-III {
    width: 36px;
    height: 84px;
    background-position: -902px -801px;
}

.gameObject-Master-Round-IV {
    width: 36px;
    height: 81px;
    background-position: -942px -801px;
}

.gameObject-Master-Round-V {
    width: 54px;
    height: 99px;
    background-position: -2px -886px;
}

.gameObject-Master-of-Unlocking {
    width: 57px;
    height: 30px;
    background-position: -60px -886px;
}

.gameObject-Meatbun {
    width: 30px;
    height: 30px;
    background-position: -121px -886px;
}

.gameObject-Medkit {
    width: 39px;
    height: 27px;
    background-position: -155px -886px;
}

.gameObject-Mega-Douser {
    width: 57px;
    height: 24px;
    background-position: -198px -886px;
}

.gameObject-Megahand {
    width: 33px;
    height: 24px;
    background-position: -259px -886px;
}

.gameObject-Melted-Rock {
    width: 48px;
    height: 48px;
    background-position: -296px -886px;
}

.gameObject-Metronome {
    width: 30px;
    height: 27px;
    background-position: -348px -886px;
}

.gameObject-Microtransaction-Gun {
    width: 60px;
    height: 57px;
    background-position: -382px -886px;
}

.gameObject-Military-Training {
    width: 36px;
    height: 42px;
    background-position: -446px -886px;
}

.gameObject-Mimic-Tooth-Necklace {
    width: 54px;
    height: 36px;
    background-position: -486px -886px;
}

.gameObject-Mine-Cutter {
    width: 57px;
    height: 39px;
    background-position: -544px -886px;
}

.gameObject-Molotov {
    width: 21px;
    height: 51px;
    background-position: -982px -755px;
}

.gameObject-Money {
    width: 27px;
    height: 27px;
    background-position: -343px -755px;
}

.gameObject-Monster-Blood {
    width: 33px;
    height: 45px;
    background-position: -605px -886px;
}

.gameObject-Moonscraper {
    width: 48px;
    height: 33px;
    background-position: -642px -886px;
}

.gameObject-Muscle-Relaxant {
    width: 36px;
    height: 36px;
    background-position: -694px -886px;
}

.gameObject-Mustache {
    width: 39px;
    height: 15px;
    background-position: -734px -886px;
}

.gameObject-Mutation {
    width: 24px;
    height: 24px;
    background-position: -596px -504px;
}

.gameObject-Nail-Gun {
    width: 24px;
    height: 27px;
    background-position: -982px -611px;
}

.gameObject-Nanomachines {
    width: 45px;
    height: 33px;
    background-position: -777px -886px;
}

.gameObject-Napalm-Strike {
    width: 51px;
    height: 48px;
    background-position: -826px -886px;
}

.gameObject-Number-2 {
    width: 78px;
    height: 45px;
    background-position: -188px -810px;
}

.gameObject-Obsidian-Shell-Casing {
    width: 39px;
    height: 60px;
    background-position: -942px -886px;
}

.gameObject-Oiled-Cylinder {
    width: 48px;
    height: 48px;
    background-position: -60px -950px;
}

.gameObject-Old-Crest {
    width: 42px;
    height: 48px;
    background-position: -112px -950px;
}

.gameObject-Old-Goldie {
    width: 90px;
    height: 27px;
    background-position: -158px -950px;
}

.gameObject-Old-Knight_s-Flask {
    width: 39px;
    height: 63px;
    background-position: -1008px -2px;
}

.gameObject-Old-Knight_s-Helm {
    width: 51px;
    height: 36px;
    background-position: -995px -70px;
}

.gameObject-Old-Knight_s-Shield {
    width: 33px;
    height: 42px;
    background-position: -995px -110px;
}

.gameObject-Omega-Bullets {
    width: 27px;
    height: 48px;
    background-position: -998px -156px;
}

.gameObject-Orange {
    width: 42px;
    height: 39px;
    background-position: -1005px -208px;
}

.gameObject-Orange-Guon-Stone {
    width: 27px;
    height: 54px;
    background-position: -1005px -251px;
}

.gameObject-Origuni {
    width: 57px;
    height: 33px;
    background-position: -991px -550px;
}

.gameObject-Owl {
    width: 51px;
    height: 48px;
    background-position: -982px -810px;
}

.gameObject-Particulator {
    width: 84px;
    height: 36px;
    background-position: -252px -950px;
}

.gameObject-Patriot {
    width: 78px;
    height: 39px;
    background-position: -340px -950px;
}

.gameObject-Pea-Shooter {
    width: 42px;
    height: 30px;
    background-position: -1008px -364px;
}

.gameObject-Phoenix {
    width: 39px;
    height: 33px;
    background-position: -1009px -309px;
}

.gameObject-Pig {
    width: 45px;
    height: 51px;
    background-position: -1005px -449px;
}

.gameObject-Pink-Guon-Stone {
    width: 45px;
    height: 39px;
    background-position: -985px -862px;
}

.gameObject-Pitchfork {
    width: 21px;
    height: 51px;
    background-position: -1010px -587px;
}

.gameObject-Plague-Pistol {
    width: 60px;
    height: 27px;
    background-position: -985px -905px;
}

.gameObject-Planar-Lead {
    width: 48px;
    height: 51px;
    background-position: -881px -905px;
}

.gameObject-Plunger {
    width: 69px;
    height: 21px;
    background-position: -446px -936px;
}

.gameObject-Poison-Vial {
    width: 33px;
    height: 48px;
    background-position: -1006px -642px;
}

.gameObject-Polaris {
    width: 48px;
    height: 30px;
    background-position: -519px -936px;
}

.gameObject-Portable-Turret {
    width: 33px;
    height: 54px;
    background-position: -1009px -694px;
}

.gameObject-Potion-of-Gun-Friendship {
    width: 33px;
    height: 51px;
    background-position: -1009px -752px;
}

.gameObject-Potion-of-Lead-Skin {
    width: 33px;
    height: 51px;
    background-position: -571px -936px;
}

.gameObject-Poxcannon {
    width: 84px;
    height: 39px;
    background-position: -608px -936px;
}

.gameObject-Prime-Primer {
    width: 36px;
    height: 42px;
    background-position: -1008px -398px;
}

.gameObject-Proton-Backpack {
    width: 75px;
    height: 24px;
    background-position: -696px -936px;
}

.gameObject-Proximity-Mine {
    width: 36px;
    height: 36px;
    background-position: -1008px -504px;
}

.gameObject-Pulse-Cannon {
    width: 78px;
    height: 30px;
    background-position: -775px -950px;
}

.gameObject-Quad-Laser {
    width: 54px;
    height: 30px;
    background-position: -985px -936px;
}

.gameObject-R2G2 {
    width: 45px;
    height: 54px;
    background-position: -422px -970px;
}

.gameObject-RPG {
    width: 87px;
    height: 27px;
    background-position: -471px -970px;
}

.gameObject-RUBE-ADYNE-MK-II {
    width: 60px;
    height: 33px;
    background-position: -696px -970px;
}

.gameObject-RUBE-ADYNE-Prototype {
    width: 54px;
    height: 33px;
    background-position: -857px -970px;
}

.gameObject-Raiden-Coil {
    width: 90px;
    height: 33px;
    background-position: -915px -970px;
}

.gameObject-Ration {
    width: 39px;
    height: 42px;
    background-position: -1009px -970px;
}

.gameObject-Rattler {
    width: 69px;
    height: 33px;
    background-position: -2px -1007px;
}

.gameObject-Red-Guon-Stone {
    width: 27px;
    height: 42px;
    background-position: -75px -1016px;
}

.gameObject-Regular-Shotgun {
    width: 72px;
    height: 15px;
    background-position: -628px -208px;
}

.gameObject-Riddle-of-Lead {
    width: 36px;
    height: 54px;
    background-position: -106px -1016px;
}

.gameObject-Ring-of-Chest-Friendship {
    width: 45px;
    height: 66px;
    background-position: -146px -1007px;
}

.gameObject-Ring-of-Chest-Vampirism {
    width: 45px;
    height: 72px;
    background-position: -1051px -2px;
}

.gameObject-Ring-of-Ethereal-Form {
    width: 45px;
    height: 60px;
    background-position: -1050px -78px;
}

.gameObject-Ring-of-Fire-Resistance {
    width: 45px;
    height: 63px;
    background-position: -1051px -142px;
}

.gameObject-Ring-of-Mimic-Friendship {
    width: 45px;
    height: 69px;
    background-position: -1051px -209px;
}

.gameObject-Ring-of-Miserly-Protection {
    width: 45px;
    height: 69px;
    background-position: -1052px -282px;
}

.gameObject-Ring-of-Triggers {
    width: 45px;
    height: 45px;
    background-position: -1054px -355px;
}

.gameObject-Robot_s-Right-Hand {
    width: 21px;
    height: 15px;
    background-position: -93px -142px;
}

.gameObject-Rocket-Powered-Bullets {
    width: 39px;
    height: 45px;
    background-position: -1054px -404px;
}

.gameObject-Rogue-Special {
    width: 36px;
    height: 30px;
    background-position: -310px -282px;
}

.gameObject-Rolling-Eye {
    width: 45px;
    height: 45px;
    background-position: -1054px -453px;
}

.gameObject-Ruby-Bracelet {
    width: 48px;
    height: 48px;
    background-position: -1035px -587px;
}

.gameObject-Rusty-Sidearm {
    width: 54px;
    height: 30px;
    background-position: -644px -282px;
}

.gameObject-SAA {
    width: 42px;
    height: 30px;
    background-position: -531px -282px;
}

.gameObject-Sawed-Off {
    width: 48px;
    height: 15px;
    background-position: -423px -142px;
}

.gameObject-Scattershot {
    width: 27px;
    height: 39px;
    background-position: -2px -453px;
}

.gameObject-Science-Cannon {
    width: 69px;
    height: 39px;
    background-position: -195px -1016px;
}

.gameObject-Scope {
    width: 63px;
    height: 51px;
    background-position: -268px -1016px;
}

.gameObject-Screecher {
    width: 54px;
    height: 24px;
    background-position: -857px -142px;
}

.gameObject-Sense-of-Direction {
    width: 51px;
    height: 60px;
    background-position: -1046px -639px;
}

.gameObject-Serious-Cannon {
    width: 75px;
    height: 33px;
    background-position: -702px -282px;
}

.gameObject-Seven-Leaf-Clover {
    width: 39px;
    height: 45px;
    background-position: -1054px -502px;
}

.gameObject-Shades_s-Revolver {
    width: 51px;
    height: 36px;
    background-position: -1046px -703px;
}

.gameObject-Shadow-Bullets {
    width: 27px;
    height: 48px;
    background-position: -1046px -743px;
}

.gameObject-Shellegun {
    width: 45px;
    height: 39px;
    background-position: -1046px -795px;
}

.gameObject-Shelleton-Key {
    width: 60px;
    height: 60px;
    background-position: -1037px -838px;
}

.gameObject-Shield-of-the-Maiden {
    width: 48px;
    height: 45px;
    background-position: -1049px -902px;
}

.gameObject-Shock-Rifle {
    width: 72px;
    height: 39px;
    background-position: -2px -838px;
}

.gameObject-Shock-Rounds {
    width: 27px;
    height: 39px;
    background-position: -384px -453px;
}

.gameObject-Shotbow {
    width: 84px;
    height: 39px;
    background-position: -78px -838px;
}

.gameObject-Shotga-Cola {
    width: 27px;
    height: 45px;
    background-position: -1052px -951px;
}

.gameObject-Shotgrub {
    width: 75px;
    height: 21px;
    background-position: -496px -838px;
}

.gameObject-Shotgun-Coffee {
    width: 36px;
    height: 30px;
    background-position: -781px -282px;
}

.gameObject-Shotgun-Full-of-Hate {
    width: 90px;
    height: 36px;
    background-position: -562px -1000px;
}

.gameObject-Shotgun-Full-of-Love {
    width: 87px;
    height: 42px;
    background-position: -760px -1000px;
}

.gameObject-Silencer {
    width: 72px;
    height: 72px;
    background-position: -335px -1000px;
}

.gameObject-Singularity {
    width: 33px;
    height: 45px;
    background-position: -656px -1000px;
}

.gameObject-Sixth-Chamber {
    width: 54px;
    height: 75px;
    background-position: -471px -1016px;
}

.gameObject-Skull-Spitter {
    width: 69px;
    height: 36px;
    background-position: -851px -1016px;
}

.gameObject-Sling {
    width: 15px;
    height: 30px;
    background-position: -485px -142px;
}

.gameObject-Smiley_s-Revolver {
    width: 51px;
    height: 36px;
    background-position: -693px -1016px;
}

.gameObject-Smoke-Bomb {
    width: 45px;
    height: 42px;
    background-position: -1052px -1000px;
}

.gameObject-Snakemaker {
    width: 63px;
    height: 39px;
    background-position: -2px -1046px;
}

.gameObject-Sniper-Rifle {
    width: 90px;
    height: 27px;
    background-position: -529px -1046px;
}

.gameObject-Snowballer {
    width: 60px;
    height: 39px;
    background-position: -748px -1046px;
}

.gameObject-Space-Friend {
    width: 42px;
    height: 51px;
    background-position: -411px -1046px;
}

.gameObject-Spice {
    width: 60px;
    height: 63px;
    background-position: -924px -1046px;
}

.gameObject-Sponge {
    width: 39px;
    height: 48px;
    background-position: -988px -1046px;
}

.gameObject-Staff-of-Firepower {
    width: 60px;
    height: 39px;
    background-position: -1031px -1046px;
}

.gameObject-Sticky-Crossbow {
    width: 39px;
    height: 30px;
    background-position: -1052px -551px;
}

.gameObject-Stinger {
    width: 96px;
    height: 36px;
    background-position: -2px -1098px;
}

.gameObject-Stuffed-Star {
    width: 57px;
    height: 54px;
    background-position: -102px -1089px;
}

.gameObject-Sunglasses {
    width: 54px;
    height: 27px;
    background-position: -163px -1089px;
}

.gameObject-Super-Hot-Watch {
    width: 66px;
    height: 66px;
    background-position: -1100px -2px;
}

.gameObject-Super-Meat-Gun {
    width: 42px;
    height: 33px;
    background-position: -1100px -72px;
}

.gameObject-Super-Space-Turtle {
    width: 33px;
    height: 24px;
    background-position: -1099px -109px;
}

.gameObject-Supply-Drop {
    width: 30px;
    height: 54px;
    background-position: -1136px -109px;
}

.gameObject-T-Shirt-Cannon {
    width: 66px;
    height: 24px;
    background-position: -1100px -167px;
}

.gameObject-Table-Tech-Blanks {
    width: 57px;
    height: 54px;
    background-position: -1100px -195px;
}

.gameObject-Table-Tech-Money {
    width: 57px;
    height: 54px;
    background-position: -1101px -253px;
}

.gameObject-Table-Tech-Rage {
    width: 57px;
    height: 54px;
    background-position: -1103px -311px;
}

.gameObject-Table-Tech-Rocket {
    width: 57px;
    height: 54px;
    background-position: -1103px -369px;
}

.gameObject-Table-Tech-Sight {
    width: 57px;
    height: 54px;
    background-position: -1103px -427px;
}

.gameObject-Table-Tech-Stun {
    width: 57px;
    height: 54px;
    background-position: -1103px -485px;
}

.gameObject-Tangler {
    width: 63px;
    height: 18px;
    background-position: -207px -195px;
}

.gameObject-Tear-Jerker {
    width: 30px;
    height: 18px;
    background-position: -274px -195px;
}

.gameObject-The-Emperor {
    width: 78px;
    height: 33px;
    background-position: -1087px -585px;
}

.gameObject-The-Judge {
    width: 57px;
    height: 33px;
    background-position: -1097px -543px;
}

.gameObject-The-Kiln {
    width: 69px;
    height: 39px;
    background-position: -1077px -743px;
}

.gameObject-The-Membrane {
    width: 75px;
    height: 36px;
    background-position: -619px -622px;
}

.gameObject-The-Scrambler {
    width: 45px;
    height: 30px;
    background-position: -1101px -622px;
}

.gameObject-Thompson-Sub-Machinegun {
    width: 63px;
    height: 24px;
    background-position: -561px -195px;
}

.gameObject-Thunderclap {
    width: 63px;
    height: 21px;
    background-position: -362px -622px;
}

.gameObject-Trashcannon {
    width: 93px;
    height: 48px;
    background-position: -221px -1089px;
}

.gameObject-Trick-Gun {
    width: 45px;
    height: 30px;
    background-position: -1101px -656px;
}

.gameObject-Triple-Crossbow {
    width: 66px;
    height: 39px;
    background-position: -1101px -690px;
}

.gameObject-Trusty-Lockpicks {
    width: 15px;
    height: 48px;
    background-position: -1150px -622px;
}

.gameObject-Unfinished-Gun {
    width: 69px;
    height: 42px;
    background-position: -1095px -786px;
}

.gameObject-Unicorn-Horn {
    width: 93px;
    height: 42px;
    background-position: -529px -1089px;
}

.gameObject-Unity {
    width: 45px;
    height: 54px;
    background-position: -1101px -832px;
}

.gameObject-Uranium-Ammolet {
    width: 66px;
    height: 51px;
    background-position: -1101px -890px;
}

.gameObject-Utility-Belt {
    width: 81px;
    height: 27px;
    background-position: -1083px -951px;
}

.gameObject-VertebraeK-47 {
    width: 84px;
    height: 42px;
    background-position: -318px -1089px;
}

.gameObject-Void-Core-Assault-Rifle {
    width: 84px;
    height: 33px;
    background-position: -626px -1089px;
}

.gameObject-Void-Marshal {
    width: 48px;
    height: 30px;
    background-position: -762px -674px;
}

.gameObject-Void-Shotgun {
    width: 60px;
    height: 24px;
    background-position: -1101px -982px;
}

.gameObject-Vulcan-Cannon {
    width: 78px;
    height: 36px;
    background-position: -714px -1089px;
}

.gameObject-Wax-Wings {
    width: 39px;
    height: 39px;
    background-position: -703px -832px;
}

.gameObject-White-Guon-Stone {
    width: 27px;
    height: 36px;
    background-position: -1101px -1010px;
}

.gameObject-Winchester {
    width: 54px;
    height: 15px;
    background-position: -94px -427px;
}

.gameObject-Wind-Up-Gun {
    width: 78px;
    height: 30px;
    background-position: -796px -1089px;
}

.gameObject-Wingman {
    width: 39px;
    height: 39px;
    background-position: -1095px -1050px;
}

.gameObject-Witch-Pistol {
    width: 66px;
    height: 30px;
    background-position: -623px -1050px;
}

.gameObject-Wolf {
    width: 54px;
    height: 54px;
    background-position: -1031px -1093px;
}

.gameObject-Yari-Launcher {
    width: 81px;
    height: 27px;
    background-position: -2px -1151px;
}

.gameObject-Zilla-Shotgun {
    width: 75px;
    height: 33px;
    background-position: -1089px -1093px;
}

.gameObject-Zorgun {
    width: 75px;
    height: 45px;
    background-position: -406px -1130px;
}
