.gameObject {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.gameObject--1-Bullets {
    width: 18px;
    height: 32px;
    background-position: -1px -1px;
}

.gameObject-A-W-P- {
    width: 60px;
    height: 18px;
    background-position: -21px -1px;
}

.gameObject-AK-47 {
    width: 54px;
    height: 14px;
    background-position: -83px -1px;
}

.gameObject-AKEY-47 {
    width: 52px;
    height: 20px;
    background-position: -139px -1px;
}

.gameObject-AU-Gun {
    width: 34px;
    height: 26px;
    background-position: -193px -1px;
}

.gameObject-Abyssal-Tentacle {
    width: 44px;
    height: 30px;
    background-position: -229px -1px;
}

.gameObject-Aged-Bell {
    width: 26px;
    height: 26px;
    background-position: -275px -1px;
}

.gameObject-Air-Strike {
    width: 34px;
    height: 32px;
    background-position: -303px -1px;
}

.gameObject-Alien-Engine {
    width: 46px;
    height: 30px;
    background-position: -339px -1px;
}

.gameObject-Alien-Sidearm {
    width: 32px;
    height: 18px;
    background-position: -387px -1px;
}

.gameObject-Alpha-Bullets {
    width: 18px;
    height: 32px;
    background-position: -421px -1px;
}

.gameObject-Ammo-Belt {
    width: 68px;
    height: 18px;
    background-position: -441px -1px;
}

.gameObject-Ammo-Synthesizer {
    width: 22px;
    height: 28px;
    background-position: -511px -1px;
}

.gameObject-Amulet-of-the-Pit-Lord {
    width: 42px;
    height: 44px;
    background-position: -535px -1px;
}

.gameObject-Ancient-Hero_s-Bandana {
    width: 52px;
    height: 30px;
    background-position: -579px -1px;
}

.gameObject-Angry-Bullets {
    width: 18px;
    height: 26px;
    background-position: -633px -1px;
}

.gameObject-Antibody {
    width: 30px;
    height: 30px;
    background-position: -21px -33px;
}

.gameObject-Anvillain {
    width: 32px;
    height: 26px;
    background-position: -53px -33px;
}

.gameObject-Arcane-Gunpowder {
    width: 24px;
    height: 34px;
    background-position: -87px -29px;
}

.gameObject-Armor-Synthesizer {
    width: 22px;
    height: 24px;
    background-position: -113px -29px;
}

.gameObject-Armor-of-Thorns {
    width: 34px;
    height: 26px;
    background-position: -137px -33px;
}

.gameObject-BSG {
    width: 50px;
    height: 28px;
    background-position: -173px -33px;
}

.gameObject-Backpack {
    width: 34px;
    height: 28px;
    background-position: -225px -33px;
}

.gameObject-Backup-Gun {
    width: 40px;
    height: 40px;
    background-position: -261px -33px;
}

.gameObject-Badge {
    width: 22px;
    height: 24px;
    background-position: -387px -29px;
}

.gameObject-Bait-Launcher {
    width: 50px;
    height: 30px;
    background-position: -441px -33px;
}

.gameObject-Ballistic-Boots {
    width: 28px;
    height: 30px;
    background-position: -339px -33px;
}

.gameObject-Ballot {
    width: 28px;
    height: 34px;
    background-position: -493px -33px;
}

.gameObject-Banana {
    width: 14px;
    height: 28px;
    background-position: -633px -29px;
}

.gameObject-Barrel {
    width: 28px;
    height: 18px;
    background-position: -579px -33px;
}

.gameObject-Battery-Bullets {
    width: 18px;
    height: 30px;
    background-position: -1px -59px;
}

.gameObject-Bee-Hive {
    width: 22px;
    height: 20px;
    background-position: -113px -59px;
}

.gameObject-Betrayer_s-Shield {
    width: 38px;
    height: 26px;
    background-position: -369px -59px;
}

.gameObject-Big-Boy {
    width: 32px;
    height: 26px;
    background-position: -303px -59px;
}

.gameObject-Big-Iron {
    width: 52px;
    height: 22px;
    background-position: -523px -53px;
}

.gameObject-Bionic-Leg {
    width: 20px;
    height: 30px;
    background-position: -409px -59px;
}

.gameObject-Black-Hole-Gun {
    width: 64px;
    height: 32px;
    background-position: -577px -59px;
}

.gameObject-Blank-Companion_s-Ring {
    width: 30px;
    height: 46px;
    background-position: -1px -93px;
}

.gameObject-Blasphemy {
    width: 58px;
    height: 20px;
    background-position: -33px -93px;
}

.gameObject-Blast-Helmet {
    width: 30px;
    height: 28px;
    background-position: -93px -93px;
}

.gameObject-Blood-Brooch {
    width: 24px;
    height: 26px;
    background-position: -125px -93px;
}

.gameObject-Bloodied-Scarf {
    width: 52px;
    height: 30px;
    background-position: -151px -93px;
}

.gameObject-Bloody-Eye {
    width: 14px;
    height: 36px;
    background-position: -643px -59px;
}

.gameObject-Blooper {
    width: 46px;
    height: 12px;
    background-position: -205px -93px;
}

.gameObject-Blue-Guon-Stone {
    width: 18px;
    height: 28px;
    background-position: -253px -93px;
}

.gameObject-Blunderbuss {
    width: 58px;
    height: 16px;
    background-position: -273px -93px;
}

.gameObject-Bomb {
    width: 32px;
    height: 32px;
    background-position: -333px -93px;
}

.gameObject-Book-of-Chest-Anatomy {
    width: 30px;
    height: 32px;
    background-position: -367px -93px;
}

.gameObject-Boomerang {
    width: 22px;
    height: 22px;
    background-position: -399px -93px;
}

.gameObject-Bouncy-Bullets {
    width: 18px;
    height: 26px;
    background-position: -423px -93px;
}

.gameObject-Bow {
    width: 34px;
    height: 38px;
    background-position: -443px -93px;
}

.gameObject-Box {
    width: 44px;
    height: 32px;
    background-position: -479px -93px;
}

.gameObject-Bracket-Key {
    width: 22px;
    height: 24px;
    background-position: -525px -93px;
}

.gameObject-Brick-Breaker {
    width: 56px;
    height: 32px;
    background-position: -549px -93px;
}

.gameObject-Brick-of-Cash {
    width: 26px;
    height: 22px;
    background-position: -607px -93px;
}

.gameObject-Briefcase-of-Cash {
    width: 36px;
    height: 26px;
    background-position: -33px -117px;
}

.gameObject-Broccoli {
    width: 30px;
    height: 32px;
    background-position: -205px -117px;
}

.gameObject-Budget-Revolver {
    width: 26px;
    height: 20px;
    background-position: -273px -117px;
}

.gameObject-Bug-Boots {
    width: 40px;
    height: 38px;
    background-position: -607px -117px;
}

.gameObject-Bullet-Bore {
    width: 48px;
    height: 32px;
    background-position: -1px -157px;
}

.gameObject-Bullet-Idol {
    width: 28px;
    height: 36px;
    background-position: -301px -117px;
}

.gameObject-Bullet-Time {
    width: 22px;
    height: 32px;
    background-position: -51px -157px;
}

.gameObject-Bundle-of-Wands {
    width: 62px;
    height: 26px;
    background-position: -75px -157px;
}

.gameObject-Busted-Television {
    width: 34px;
    height: 32px;
    background-position: -139px -157px;
}

.gameObject-Buzzkill {
    width: 36px;
    height: 24px;
    background-position: -175px -157px;
}

.gameObject-C4-_Item_ {
    width: 28px;
    height: 22px;
    background-position: -213px -157px;
}

.gameObject-Cactus {
    width: 50px;
    height: 22px;
    background-position: -243px -157px;
}

.gameObject-Camera {
    width: 28px;
    height: 40px;
    background-position: -295px -157px;
}

.gameObject-Cartographer_s-Ring {
    width: 30px;
    height: 44px;
    background-position: -325px -157px;
}

.gameObject-Cat-Claw {
    width: 38px;
    height: 32px;
    background-position: -357px -157px;
}

.gameObject-Chaff-Grenade {
    width: 26px;
    height: 32px;
    background-position: -397px -157px;
}

.gameObject-Chaos-Ammolet {
    width: 44px;
    height: 34px;
    background-position: -425px -157px;
}

.gameObject-Charge-Shot {
    width: 52px;
    height: 18px;
    background-position: -71px -127px;
}

.gameObject-Charm-Horn {
    width: 40px;
    height: 24px;
    background-position: -471px -157px;
}

.gameObject-Charmed-Bow {
    width: 34px;
    height: 38px;
    background-position: -513px -157px;
}

.gameObject-Cigarettes {
    width: 24px;
    height: 26px;
    background-position: -549px -157px;
}

.gameObject-Clear-Guon-Stone {
    width: 18px;
    height: 28px;
    background-position: -575px -157px;
}

.gameObject-Clone {
    width: 26px;
    height: 36px;
    background-position: -595px -157px;
}

.gameObject-Cloranthy-Ring {
    width: 30px;
    height: 30px;
    background-position: -623px -157px;
}

.gameObject-Cluster-Mine {
    width: 20px;
    height: 24px;
    background-position: -75px -189px;
}

.gameObject-Cobalt-Hammer {
    width: 40px;
    height: 24px;
    background-position: -1px -195px;
}

.gameObject-Cog-of-Battle {
    width: 30px;
    height: 30px;
    background-position: -97px -189px;
}

.gameObject-Coin-Crown {
    width: 40px;
    height: 42px;
    background-position: -129px -195px;
}

.gameObject-Cold-45 {
    width: 36px;
    height: 18px;
    background-position: -171px -195px;
}

.gameObject-Colt-1851 {
    width: 38px;
    height: 16px;
    background-position: -209px -195px;
}

.gameObject-Com4nd0 {
    width: 54px;
    height: 28px;
    background-position: -125px -127px;
}

.gameObject-Composite-Gun {
    width: 30px;
    height: 20px;
    background-position: -249px -189px;
}

.gameObject-Compressed-Air-Tank {
    width: 60px;
    height: 20px;
    background-position: -331px -127px;
}

.gameObject-Coolant-Leak {
    width: 22px;
    height: 34px;
    background-position: -471px -189px;
}

.gameObject-Copper-Ammolet {
    width: 44px;
    height: 34px;
    background-position: -549px -189px;
}

.gameObject-Corsair {
    width: 46px;
    height: 30px;
    background-position: -357px -195px;
}

.gameObject-Crescent-Crossbow {
    width: 48px;
    height: 20px;
    background-position: -405px -195px;
}

.gameObject-Crestfaller {
    width: 52px;
    height: 24px;
    background-position: -479px -127px;
}

.gameObject-Crossbow {
    width: 42px;
    height: 14px;
    background-position: -595px -195px;
}

.gameObject-Crutch {
    width: 18px;
    height: 36px;
    background-position: -639px -189px;
}

.gameObject-Dark-Marker {
    width: 52px;
    height: 26px;
    background-position: -533px -127px;
}

.gameObject-Dart-Gun {
    width: 24px;
    height: 14px;
    background-position: -43px -211px;
}

.gameObject-Deck4rd {
    width: 34px;
    height: 22px;
    background-position: -249px -211px;
}

.gameObject-Decoy {
    width: 28px;
    height: 30px;
    background-position: -285px -211px;
}

.gameObject-Demon-Head {
    width: 30px;
    height: 24px;
    background-position: -315px -211px;
}

.gameObject-Derringer {
    width: 14px;
    height: 12px;
    background-position: -635px -97px;
}

.gameObject-Disarming-Personality {
    width: 28px;
    height: 24px;
    background-position: -495px -211px;
}

.gameObject-Disintegrator {
    width: 54px;
    height: 28px;
    background-position: -1px -227px;
}

.gameObject-Dog {
    width: 28px;
    height: 28px;
    background-position: -595px -211px;
}

.gameObject-Double-Vision {
    width: 28px;
    height: 34px;
    background-position: -57px -227px;
}

.gameObject-Dragunfire {
    width: 42px;
    height: 26px;
    background-position: -87px -241px;
}

.gameObject-Drum-Clip {
    width: 24px;
    height: 52px;
    background-position: -171px -227px;
}

.gameObject-Duct-Tape {
    width: 20px;
    height: 20px;
    background-position: -525px -211px;
}

.gameObject-Dueling-Pistol {
    width: 36px;
    height: 22px;
    background-position: -131px -241px;
}

.gameObject-Dungeon-Eagle {
    width: 32px;
    height: 18px;
    background-position: -197px -227px;
}

.gameObject-Easy-Reload-Bullets {
    width: 18px;
    height: 30px;
    background-position: -347px -227px;
}

.gameObject-Elder-Blank {
    width: 30px;
    height: 30px;
    background-position: -367px -227px;
}

.gameObject-Elephant-Gun {
    width: 62px;
    height: 18px;
    background-position: -399px -241px;
}

.gameObject-Enraging-Photo {
    width: 32px;
    height: 32px;
    background-position: -547px -227px;
}

.gameObject-Escape-Rope {
    width: 14px;
    height: 32px;
    background-position: -231px -227px;
}

.gameObject-Excaliber {
    width: 78px;
    height: 26px;
    background-position: -463px -241px;
}

.gameObject-Explosive-Decoy {
    width: 28px;
    height: 36px;
    background-position: -625px -227px;
}

.gameObject-Explosive-Rounds {
    width: 18px;
    height: 30px;
    background-position: -1px -265px;
}

.gameObject-Eye-of-the-Beholster {
    width: 44px;
    height: 32px;
    background-position: -21px -265px;
}

.gameObject-Eyepatch {
    width: 28px;
    height: 22px;
    background-position: -131px -265px;
}

.gameObject-Face-Melter {
    width: 64px;
    height: 28px;
    background-position: -197px -265px;
}

.gameObject-Fat-Bullets {
    width: 22px;
    height: 26px;
    background-position: -263px -265px;
}

.gameObject-Fightsabre {
    width: 64px;
    height: 24px;
    background-position: -287px -265px;
}

.gameObject-Flame-Hand {
    width: 16px;
    height: 28px;
    background-position: -67px -265px;
}

.gameObject-Flare-Gun {
    width: 34px;
    height: 20px;
    background-position: -247px -241px;
}

.gameObject-Flash-Ray {
    width: 38px;
    height: 30px;
    background-position: -581px -241px;
}

.gameObject-Fortune_s-Favor {
    width: 28px;
    height: 34px;
    background-position: -353px -265px;
}

.gameObject-Fossilized-Gun {
    width: 46px;
    height: 30px;
    background-position: -383px -273px;
}

.gameObject-Freeze-Ray {
    width: 36px;
    height: 20px;
    background-position: -543px -265px;
}

.gameObject-Friendship-Cookie {
    width: 30px;
    height: 26px;
    background-position: -431px -265px;
}

.gameObject-Frost-Ammolet {
    width: 44px;
    height: 34px;
    background-position: -85px -273px;
}

.gameObject-Frost-Bullets {
    width: 18px;
    height: 26px;
    background-position: -621px -265px;
}

.gameObject-Frost-Giant {
    width: 56px;
    height: 38px;
    background-position: -131px -293px;
}

.gameObject-Galactic-Medal-of-Valor {
    width: 36px;
    height: 22px;
    background-position: -263px -293px;
}

.gameObject-Gamma-Ray {
    width: 28px;
    height: 18px;
    background-position: -301px -293px;
}

.gameObject-Gas-Mask {
    width: 30px;
    height: 36px;
    background-position: -431px -293px;
}

.gameObject-Ghost-Bullets {
    width: 18px;
    height: 26px;
    background-position: -331px -293px;
}

.gameObject-Gilded-Hydra {
    width: 42px;
    height: 24px;
    background-position: -463px -293px;
}

.gameObject-Glacier {
    width: 38px;
    height: 26px;
    background-position: -581px -273px;
}

.gameObject-Gold-Ammolet {
    width: 44px;
    height: 34px;
    background-position: -1px -301px;
}

.gameObject-Grappling-Hook {
    width: 30px;
    height: 14px;
    background-position: -507px -293px;
}

.gameObject-Grasschopper {
    width: 12px;
    height: 8px;
    background-position: -237px -111px;
}

.gameObject-Green-Guon-Stone {
    width: 18px;
    height: 28px;
    background-position: -539px -293px;
}

.gameObject-Grenade-Launcher {
    width: 42px;
    height: 22px;
    background-position: -189px -301px;
}

.gameObject-Grey-Mauser-_Gun_ {
    width: 42px;
    height: 28px;
    background-position: -559px -301px;
}

.gameObject-Gun-Soul {
    width: 28px;
    height: 32px;
    background-position: -621px -293px;
}

.gameObject-Gunboots {
    width: 40px;
    height: 40px;
    background-position: -47px -327px;
}

.gameObject-Gunbow {
    width: 32px;
    height: 40px;
    background-position: -89px -327px;
}

.gameObject-Gundromeda-Strain {
    width: 24px;
    height: 40px;
    background-position: -189px -327px;
}

.gameObject-Gungeon-Ant {
    width: 54px;
    height: 22px;
    background-position: -215px -327px;
}

.gameObject-Gungeon-Blueprint {
    width: 52px;
    height: 42px;
    background-position: -271px -327px;
}

.gameObject-Gungeon-Pepper {
    width: 16px;
    height: 22px;
    background-position: -641px -265px;
}

.gameObject-Gungine {
    width: 52px;
    height: 28px;
    background-position: -325px -327px;
}

.gameObject-Gunknight-Armor {
    width: 40px;
    height: 30px;
    background-position: -379px -327px;
}

.gameObject-Gunknight-Gauntlet {
    width: 36px;
    height: 32px;
    background-position: -463px -327px;
}

.gameObject-Gunknight-Greaves {
    width: 24px;
    height: 36px;
    background-position: -501px -327px;
}

.gameObject-Gunknight-Helmet {
    width: 28px;
    height: 38px;
    background-position: -527px -327px;
}

.gameObject-Gunslinger_s-Ashes {
    width: 56px;
    height: 20px;
    background-position: -557px -331px;
}

.gameObject-Gunther {
    width: 50px;
    height: 26px;
    background-position: -123px -353px;
}

.gameObject-Gunzheng {
    width: 42px;
    height: 44px;
    background-position: -615px -327px;
}

.gameObject-H4mmer {
    width: 34px;
    height: 22px;
    background-position: -1px -373px;
}

.gameObject-Hazmat-Suit {
    width: 24px;
    height: 22px;
    background-position: -37px -373px;
}

.gameObject-Heart-Bottle {
    width: 40px;
    height: 30px;
    background-position: -63px -373px;
}

.gameObject-Heart-Holster {
    width: 50px;
    height: 44px;
    background-position: -215px -353px;
}

.gameObject-Heart-Locket {
    width: 38px;
    height: 46px;
    background-position: -175px -373px;
}

.gameObject-Heart-Lunchbox {
    width: 36px;
    height: 36px;
    background-position: -267px -373px;
}

.gameObject-Heart-Purse {
    width: 40px;
    height: 50px;
    background-position: -305px -373px;
}

.gameObject-Heart-Synthesizer {
    width: 30px;
    height: 26px;
    background-position: -347px -373px;
}

.gameObject-Heart-of-Ice {
    width: 30px;
    height: 32px;
    background-position: -379px -373px;
}

.gameObject-Heavy-Boots {
    width: 40px;
    height: 36px;
    background-position: -411px -373px;
}

.gameObject-Heavy-Bullets {
    width: 18px;
    height: 26px;
    background-position: -453px -373px;
}

.gameObject-Heck-Blaster {
    width: 28px;
    height: 20px;
    background-position: -473px -373px;
}

.gameObject-Hegemony-Carbine {
    width: 58px;
    height: 20px;
    background-position: -503px -373px;
}

.gameObject-Hegemony-Credit {
    width: 22px;
    height: 26px;
    background-position: -563px -373px;
}

.gameObject-Hegemony-Rifle {
    width: 60px;
    height: 24px;
    background-position: -587px -373px;
}

.gameObject-Helix {
    width: 32px;
    height: 18px;
    background-position: -1px -399px;
}

.gameObject-Heroine {
    width: 34px;
    height: 18px;
    background-position: -105px -399px;
}

.gameObject-Hexagun {
    width: 64px;
    height: 20px;
    background-position: -473px -399px;
}

.gameObject-Hidden-Compartment {
    width: 20px;
    height: 30px;
    background-position: -35px -399px;
}

.gameObject-Hip-Holster {
    width: 50px;
    height: 38px;
    background-position: -215px -399px;
}

.gameObject-Homing-Bullets {
    width: 22px;
    height: 26px;
    background-position: -141px -399px;
}

.gameObject-Honeycomb {
    width: 26px;
    height: 28px;
    background-position: -587px -399px;
}

.gameObject-Hot-Lead {
    width: 18px;
    height: 26px;
    background-position: -539px -399px;
}

.gameObject-Huntsman {
    width: 52px;
    height: 28px;
    background-position: -57px -429px;
}

.gameObject-IBomb-Companion-App {
    width: 32px;
    height: 24px;
    background-position: -615px -399px;
}

.gameObject-Ice-Bomb {
    width: 32px;
    height: 32px;
    background-position: -1px -425px;
}

.gameObject-Ice-Breaker {
    width: 54px;
    height: 18px;
    background-position: -463px -273px;
}

.gameObject-Ice-Cube {
    width: 18px;
    height: 22px;
    background-position: -111px -425px;
}

.gameObject-Iron-Coin {
    width: 36px;
    height: 34px;
    background-position: -165px -425px;
}

.gameObject-Irradiated-Lead {
    width: 18px;
    height: 26px;
    background-position: -267px -425px;
}

.gameObject-Jar-of-Bees {
    width: 22px;
    height: 32px;
    background-position: -287px -425px;
}

.gameObject-Jetpack {
    width: 22px;
    height: 30px;
    background-position: -311px -425px;
}

.gameObject-Jolter {
    width: 44px;
    height: 24px;
    background-position: -335px -429px;
}

.gameObject-Junk {
    width: 24px;
    height: 26px;
    background-position: -381px -425px;
}

.gameObject-Klobbe {
    width: 36px;
    height: 18px;
    background-position: -407px -425px;
}

.gameObject-Knife-Shield {
    width: 20px;
    height: 24px;
    background-position: -445px -425px;
}

.gameObject-Laser-Lotus {
    width: 48px;
    height: 30px;
    background-position: -467px -429px;
}

.gameObject-Laser-Rifle {
    width: 54px;
    height: 18px;
    background-position: -557px -353px;
}

.gameObject-Laser-Sight {
    width: 22px;
    height: 22px;
    background-position: -559px -425px;
}

.gameObject-Lichy-Trigger-Finger {
    width: 36px;
    height: 20px;
    background-position: -615px -425px;
}

.gameObject-Light-Gun {
    width: 30px;
    height: 18px;
    background-position: -131px -447px;
}

.gameObject-Lil_-Bomber {
    width: 46px;
    height: 38px;
    background-position: -203px -447px;
}

.gameObject-Liquid-Valkyrie {
    width: 14px;
    height: 36px;
    background-position: -517px -425px;
}

.gameObject-Live-Ammo {
    width: 28px;
    height: 28px;
    background-position: -407px -447px;
}

.gameObject-Lodestone-Ammolet {
    width: 44px;
    height: 34px;
    background-position: -583px -447px;
}

.gameObject-Lower-Case-r {
    width: 26px;
    height: 24px;
    background-position: -629px -447px;
}

.gameObject-Luxin-Cannon {
    width: 52px;
    height: 26px;
    background-position: -1px -483px;
}

.gameObject-M1 {
    width: 62px;
    height: 12px;
    background-position: -399px -227px;
}

.gameObject-M16 {
    width: 64px;
    height: 20px;
    background-position: -55px -483px;
}

.gameObject-M1911 {
    width: 34px;
    height: 22px;
    background-position: -121px -483px;
}

.gameObject-MAC10 {
    width: 48px;
    height: 28px;
    background-position: -251px -473px;
}

.gameObject-Machine-Fist {
    width: 24px;
    height: 18px;
    background-position: -533px -447px;
}

.gameObject-Machine-Pistol {
    width: 24px;
    height: 22px;
    background-position: -157px -473px;
}

.gameObject-Magic-Lamp {
    width: 38px;
    height: 22px;
    background-position: -301px -483px;
}

.gameObject-Magic-Sweet {
    width: 26px;
    height: 26px;
    background-position: -341px -473px;
}

.gameObject-Magnum {
    width: 34px;
    height: 26px;
    background-position: -369px -483px;
}

.gameObject-Mahoguny {
    width: 52px;
    height: 28px;
    background-position: -405px -483px;
}

.gameObject-Mailbox {
    width: 28px;
    height: 28px;
    background-position: -459px -473px;
}

.gameObject-Makarov {
    width: 26px;
    height: 20px;
    background-position: -489px -473px;
}

.gameObject-Makeshift-Cannon {
    width: 52px;
    height: 22px;
    background-position: -517px -483px;
}

.gameObject-Map {
    width: 52px;
    height: 42px;
    background-position: -571px -483px;
}

.gameObject-Marine-Sidearm {
    width: 28px;
    height: 18px;
    background-position: -629px -473px;
}

.gameObject-Mass-Shotgun {
    width: 46px;
    height: 24px;
    background-position: -1px -527px;
}

.gameObject-Master-Round-I {
    width: 24px;
    height: 52px;
    background-position: -183px -493px;
}

.gameObject-Master-Round-II {
    width: 24px;
    height: 54px;
    background-position: -209px -493px;
}

.gameObject-Master-Round-III {
    width: 24px;
    height: 56px;
    background-position: -625px -493px;
}

.gameObject-Master-Round-IV {
    width: 24px;
    height: 54px;
    background-position: -49px -551px;
}

.gameObject-Master-Round-V {
    width: 36px;
    height: 66px;
    background-position: -75px -527px;
}

.gameObject-Master-of-Unlocking {
    width: 38px;
    height: 20px;
    background-position: -113px -527px;
}

.gameObject-Meatbun {
    width: 20px;
    height: 20px;
    background-position: -35px -447px;
}

.gameObject-Medkit {
    width: 26px;
    height: 18px;
    background-position: -113px -551px;
}

.gameObject-Mega-Douser {
    width: 38px;
    height: 16px;
    background-position: -235px -527px;
}

.gameObject-Megahand {
    width: 22px;
    height: 16px;
    background-position: -141px -551px;
}

.gameObject-Melted-Rock {
    width: 32px;
    height: 32px;
    background-position: -165px -551px;
}

.gameObject-Metronome {
    width: 20px;
    height: 18px;
    background-position: -199px -551px;
}

.gameObject-Microtransaction-Gun {
    width: 40px;
    height: 38px;
    background-position: -275px -527px;
}

.gameObject-Military-Training {
    width: 24px;
    height: 28px;
    background-position: -221px -551px;
}

.gameObject-Mimic-Tooth-Necklace {
    width: 36px;
    height: 24px;
    background-position: -317px -527px;
}

.gameObject-Mine-Cutter {
    width: 38px;
    height: 26px;
    background-position: -355px -527px;
}

.gameObject-Molotov {
    width: 14px;
    height: 34px;
    background-position: -247px -551px;
}

.gameObject-Molotov-Launcher {
    width: 64px;
    height: 16px;
    background-position: -395px -551px;
}

.gameObject-Money {
    width: 18px;
    height: 18px;
    background-position: -183px -473px;
}

.gameObject-Monster-Blood {
    width: 22px;
    height: 30px;
    background-position: -461px -551px;
}

.gameObject-Moonscraper {
    width: 32px;
    height: 22px;
    background-position: -485px -551px;
}

.gameObject-Muscle-Relaxant {
    width: 24px;
    height: 24px;
    background-position: -519px -551px;
}

.gameObject-Mustache {
    width: 26px;
    height: 10px;
    background-position: -87px -227px;
}

.gameObject-Mutation {
    width: 16px;
    height: 16px;
    background-position: -495px -189px;
}

.gameObject-Nail-Gun {
    width: 16px;
    height: 18px;
    background-position: -105px -373px;
}

.gameObject-Nanomachines {
    width: 30px;
    height: 22px;
    background-position: -545px -551px;
}

.gameObject-Napalm-Strike {
    width: 34px;
    height: 32px;
    background-position: -577px -527px;
}

.gameObject-Number-2 {
    width: 52px;
    height: 30px;
    background-position: -317px -561px;
}

.gameObject-Obsidian-Shell-Casing {
    width: 26px;
    height: 40px;
    background-position: -613px -551px;
}

.gameObject-Oiled-Cylinder {
    width: 32px;
    height: 32px;
    background-position: -1px -593px;
}

.gameObject-Old-Crest {
    width: 28px;
    height: 32px;
    background-position: -113px -593px;
}

.gameObject-Old-Goldie {
    width: 60px;
    height: 18px;
    background-position: -143px -593px;
}

.gameObject-Old-Knight_s-Flask {
    width: 26px;
    height: 42px;
    background-position: -205px -593px;
}

.gameObject-Old-Knight_s-Helm {
    width: 34px;
    height: 24px;
    background-position: -233px -593px;
}

.gameObject-Old-Knight_s-Shield {
    width: 22px;
    height: 28px;
    background-position: -269px -593px;
}

.gameObject-Omega-Bullets {
    width: 18px;
    height: 32px;
    background-position: -293px -593px;
}

.gameObject-Orange {
    width: 28px;
    height: 26px;
    background-position: -313px -593px;
}

.gameObject-Orange-Guon-Stone {
    width: 18px;
    height: 36px;
    background-position: -343px -593px;
}

.gameObject-Origuni {
    width: 38px;
    height: 22px;
    background-position: -395px -527px;
}

.gameObject-Owl {
    width: 34px;
    height: 32px;
    background-position: -363px -593px;
}

.gameObject-Particulator {
    width: 56px;
    height: 24px;
    background-position: -399px -593px;
}

.gameObject-Patriot {
    width: 52px;
    height: 26px;
    background-position: -457px -593px;
}

.gameObject-Pea-Shooter {
    width: 28px;
    height: 20px;
    background-position: -511px -593px;
}

.gameObject-Phoenix {
    width: 26px;
    height: 22px;
    background-position: -541px -593px;
}

.gameObject-Pig {
    width: 30px;
    height: 34px;
    background-position: -569px -593px;
}

.gameObject-Pink-Guon-Stone {
    width: 30px;
    height: 26px;
    background-position: -601px -593px;
}

.gameObject-Pitchfork {
    width: 14px;
    height: 34px;
    background-position: -641px -551px;
}

.gameObject-Plague-Pistol {
    width: 40px;
    height: 18px;
    background-position: -435px -527px;
}

.gameObject-Planar-Lead {
    width: 32px;
    height: 34px;
    background-position: -35px -621px;
}

.gameObject-Plunger {
    width: 46px;
    height: 14px;
    background-position: -477px -527px;
}

.gameObject-Poison-Vial {
    width: 22px;
    height: 32px;
    background-position: -633px -593px;
}

.gameObject-Polaris {
    width: 32px;
    height: 20px;
    background-position: -69px -621px;
}

.gameObject-Portable-Turret {
    width: 22px;
    height: 36px;
    background-position: -653px -1px;
}

.gameObject-Potion-of-Gun-Friendship {
    width: 22px;
    height: 34px;
    background-position: -659px -39px;
}

.gameObject-Potion-of-Lead-Skin {
    width: 22px;
    height: 34px;
    background-position: -659px -75px;
}

.gameObject-Prime-Primer {
    width: 24px;
    height: 28px;
    background-position: -649px -111px;
}

.gameObject-Proton-Backpack {
    width: 50px;
    height: 16px;
    background-position: -21px -75px;
}

.gameObject-Prototype-Railgun {
    width: 64px;
    height: 22px;
    background-position: -399px -621px;
}

.gameObject-Proximity-Mine {
    width: 24px;
    height: 24px;
    background-position: -655px -141px;
}

.gameObject-Pulse-Cannon {
    width: 52px;
    height: 20px;
    background-position: -143px -621px;
}

.gameObject-Quad-Laser {
    width: 36px;
    height: 20px;
    background-position: -103px -627px;
}

.gameObject-R2G2 {
    width: 30px;
    height: 36px;
    background-position: -651px -289px;
}

.gameObject-RC-Rocket {
    width: 64px;
    height: 30px;
    background-position: -465px -621px;
}

.gameObject-RPG {
    width: 58px;
    height: 18px;
    background-position: -233px -627px;
}

.gameObject-RUBE-ADYNE-MK-II {
    width: 40px;
    height: 22px;
    background-position: -293px -627px;
}

.gameObject-RUBE-ADYNE-Prototype {
    width: 36px;
    height: 22px;
    background-position: -531px -627px;
}

.gameObject-Raiden-Coil {
    width: 60px;
    height: 22px;
    background-position: -601px -627px;
}

.gameObject-Railgun {
    width: 64px;
    height: 20px;
    background-position: -69px -651px;
}

.gameObject-Ration {
    width: 26px;
    height: 28px;
    background-position: -655px -227px;
}

.gameObject-Rattler {
    width: 46px;
    height: 22px;
    background-position: -135px -651px;
}

.gameObject-Red-Guon-Stone {
    width: 18px;
    height: 28px;
    background-position: -659px -167px;
}

.gameObject-Regular-Shotgun {
    width: 48px;
    height: 10px;
    background-position: -237px -141px;
}

.gameObject-Riddle-of-Lead {
    width: 24px;
    height: 36px;
    background-position: -649px -373px;
}

.gameObject-Ring-of-Chest-Friendship {
    width: 30px;
    height: 44px;
    background-position: -651px -493px;
}

.gameObject-Ring-of-Chest-Vampirism {
    width: 30px;
    height: 48px;
    background-position: -683px -1px;
}

.gameObject-Ring-of-Ethereal-Form {
    width: 30px;
    height: 40px;
    background-position: -683px -51px;
}

.gameObject-Ring-of-Fire-Resistance {
    width: 30px;
    height: 42px;
    background-position: -683px -93px;
}

.gameObject-Ring-of-Mimic-Friendship {
    width: 30px;
    height: 46px;
    background-position: -681px -137px;
}

.gameObject-Ring-of-Miserly-Protection {
    width: 30px;
    height: 46px;
    background-position: -683px -185px;
}

.gameObject-Ring-of-Triggers {
    width: 30px;
    height: 30px;
    background-position: -683px -233px;
}

.gameObject-Robot_s-Right-Hand {
    width: 14px;
    height: 10px;
    background-position: -181px -137px;
}

.gameObject-Rocket-Powered-Bullets {
    width: 26px;
    height: 30px;
    background-position: -683px -265px;
}

.gameObject-Rogue-Special {
    width: 24px;
    height: 20px;
    background-position: -233px -297px;
}

.gameObject-Rolling-Eye {
    width: 30px;
    height: 30px;
    background-position: -683px -297px;
}

.gameObject-Ruby-Bracelet {
    width: 32px;
    height: 32px;
    background-position: -659px -329px;
}

.gameObject-Rusty-Sidearm {
    width: 36px;
    height: 20px;
    background-position: -675px -363px;
}

.gameObject-SAA {
    width: 28px;
    height: 20px;
    background-position: -675px -385px;
}

.gameObject-Sawed-Off {
    width: 32px;
    height: 10px;
    background-position: -73px -75px;
}

.gameObject-Scattershot {
    width: 18px;
    height: 26px;
    background-position: -693px -329px;
}

.gameObject-Science-Cannon {
    width: 46px;
    height: 26px;
    background-position: -653px -411px;
}

.gameObject-Scope {
    width: 42px;
    height: 34px;
    background-position: -659px -439px;
}

.gameObject-Screecher {
    width: 36px;
    height: 16px;
    background-position: -137px -75px;
}

.gameObject-Sense-of-Direction {
    width: 34px;
    height: 40px;
    background-position: -657px -539px;
}

.gameObject-Serious-Cannon {
    width: 50px;
    height: 22px;
    background-position: -657px -581px;
}

.gameObject-Seven-Leaf-Clover {
    width: 26px;
    height: 30px;
    background-position: -683px -475px;
}

.gameObject-Shades_s-Revolver {
    width: 34px;
    height: 24px;
    background-position: -663px -605px;
}

.gameObject-Shadow-Bullets {
    width: 18px;
    height: 32px;
    background-position: -55px -507px;
}

.gameObject-Shellegun {
    width: 30px;
    height: 26px;
    background-position: -525px -507px;
}

.gameObject-Shelleton-Key {
    width: 40px;
    height: 40px;
    background-position: -335px -631px;
}

.gameObject-Shield-of-the-Maiden {
    width: 32px;
    height: 30px;
    background-position: -1px -631px;
}

.gameObject-Shock-Rifle {
    width: 48px;
    height: 26px;
    background-position: -663px -631px;
}

.gameObject-Shock-Rounds {
    width: 18px;
    height: 26px;
    background-position: -153px -507px;
}

.gameObject-Shotbow {
    width: 56px;
    height: 26px;
    background-position: -183px -651px;
}

.gameObject-Shotga-Cola {
    width: 18px;
    height: 30px;
    background-position: -683px -507px;
}

.gameObject-Shotgrub {
    width: 50px;
    height: 14px;
    background-position: -393px -137px;
}

.gameObject-Shotgun-Coffee {
    width: 24px;
    height: 20px;
    background-position: -57px -407px;
}

.gameObject-Shotgun-Full-of-Hate {
    width: 60px;
    height: 24px;
    background-position: -241px -651px;
}

.gameObject-Shotgun-Full-of-Love {
    width: 58px;
    height: 28px;
    background-position: -377px -651px;
}

.gameObject-Silencer {
    width: 48px;
    height: 48px;
    background-position: -437px -659px;
}

.gameObject-Singularity {
    width: 22px;
    height: 30px;
    background-position: -569px -631px;
}

.gameObject-Siren {
    width: 64px;
    height: 22px;
    background-position: -593px -651px;
}

.gameObject-Sixth-Chamber {
    width: 36px;
    height: 50px;
    background-position: -487px -659px;
}

.gameObject-Skull-Spitter {
    width: 46px;
    height: 24px;
    background-position: -659px -659px;
}

.gameObject-Sling {
    width: 10px;
    height: 20px;
    background-position: -281px -185px;
}

.gameObject-Smiley_s-Revolver {
    width: 34px;
    height: 24px;
    background-position: -525px -659px;
}

.gameObject-Smoke-Bomb {
    width: 30px;
    height: 28px;
    background-position: -1px -685px;
}

.gameObject-Snakemaker {
    width: 42px;
    height: 26px;
    background-position: -33px -685px;
}

.gameObject-Sniper-Rifle {
    width: 60px;
    height: 18px;
    background-position: -75px -507px;
}

.gameObject-Snowballer {
    width: 40px;
    height: 26px;
    background-position: -77px -685px;
}

.gameObject-Space-Friend {
    width: 28px;
    height: 34px;
    background-position: -303px -659px;
}

.gameObject-Spice {
    width: 40px;
    height: 42px;
    background-position: -119px -685px;
}

.gameObject-Sponge {
    width: 26px;
    height: 32px;
    background-position: -161px -685px;
}

.gameObject-Staff-of-Firepower {
    width: 40px;
    height: 26px;
    background-position: -189px -685px;
}

.gameObject-Sticky-Crossbow {
    width: 26px;
    height: 20px;
    background-position: -347px -407px;
}

.gameObject-Stinger {
    width: 64px;
    height: 24px;
    background-position: -561px -675px;
}

.gameObject-Stuffed-Star {
    width: 38px;
    height: 36px;
    background-position: -231px -685px;
}

.gameObject-Sunglasses {
    width: 36px;
    height: 18px;
    background-position: -333px -685px;
}

.gameObject-Super-Hot-Watch {
    width: 44px;
    height: 44px;
    background-position: -371px -685px;
}

.gameObject-Super-Meat-Gun {
    width: 28px;
    height: 22px;
    background-position: -35px -659px;
}

.gameObject-Super-Space-Turtle {
    width: 22px;
    height: 16px;
    background-position: -445px -137px;
}

.gameObject-Supply-Drop {
    width: 20px;
    height: 36px;
    background-position: -693px -539px;
}

.gameObject-T-Shirt-Cannon {
    width: 44px;
    height: 16px;
    background-position: -235px -507px;
}

.gameObject-Table-Tech-Blanks {
    width: 38px;
    height: 36px;
    background-position: -627px -685px;
}

.gameObject-Table-Tech-Money {
    width: 38px;
    height: 36px;
    background-position: -667px -685px;
}

.gameObject-Table-Tech-Rage {
    width: 38px;
    height: 36px;
    background-position: -715px -1px;
}

.gameObject-Table-Tech-Rocket {
    width: 38px;
    height: 36px;
    background-position: -715px -39px;
}

.gameObject-Table-Tech-Sight {
    width: 38px;
    height: 36px;
    background-position: -715px -77px;
}

.gameObject-Table-Tech-Stun {
    width: 38px;
    height: 36px;
    background-position: -715px -115px;
}

.gameObject-Tangler {
    width: 42px;
    height: 12px;
    background-position: -711px -265px;
}

.gameObject-Tear-Jerker {
    width: 20px;
    height: 12px;
    background-position: -303px -39px;
}

.gameObject-The-Emperor {
    width: 52px;
    height: 22px;
    background-position: -701px -407px;
}

.gameObject-The-Judge {
    width: 38px;
    height: 22px;
    background-position: -713px -153px;
}

.gameObject-The-Kiln {
    width: 46px;
    height: 26px;
    background-position: -703px -431px;
}

.gameObject-The-Membrane {
    width: 50px;
    height: 24px;
    background-position: -703px -507px;
}

.gameObject-The-Scrambler {
    width: 30px;
    height: 20px;
    background-position: -715px -177px;
}

.gameObject-Thompson-Sub-Machinegun {
    width: 42px;
    height: 16px;
    background-position: -711px -279px;
}

.gameObject-Thunderclap {
    width: 42px;
    height: 14px;
    background-position: -1px -357px;
}

.gameObject-Trashcannon {
    width: 62px;
    height: 32px;
    background-position: -1px -723px;
}

.gameObject-Trick-Gun {
    width: 30px;
    height: 20px;
    background-position: -715px -199px;
}

.gameObject-Trident {
    width: 64px;
    height: 24px;
    background-position: -161px -723px;
}

.gameObject-Triple-Crossbow {
    width: 44px;
    height: 26px;
    background-position: -709px -577px;
}

.gameObject-Trusty-Lockpicks {
    width: 10px;
    height: 32px;
    background-position: -715px -221px;
}

.gameObject-Unfinished-Gun {
    width: 46px;
    height: 28px;
    background-position: -707px -659px;
}

.gameObject-Unicorn-Horn {
    width: 62px;
    height: 28px;
    background-position: -227px -723px;
}

.gameObject-Unity {
    width: 30px;
    height: 36px;
    background-position: -715px -297px;
}

.gameObject-Uranium-Ammolet {
    width: 44px;
    height: 34px;
    background-position: -707px -689px;
}

.gameObject-Utility-Belt {
    width: 54px;
    height: 18px;
    background-position: -281px -507px;
}

.gameObject-VertebraeK-47 {
    width: 56px;
    height: 28px;
    background-position: -291px -723px;
}

.gameObject-Void-Core-Assault-Rifle {
    width: 56px;
    height: 22px;
    background-position: -417px -723px;
}

.gameObject-Void-Marshal {
    width: 32px;
    height: 20px;
    background-position: -421px -335px;
}

.gameObject-Void-Shotgun {
    width: 40px;
    height: 16px;
    background-position: -123px -335px;
}

.gameObject-Vulcan-Cannon {
    width: 52px;
    height: 24px;
    background-position: -699px -605px;
}

.gameObject-Wax-Wings {
    width: 26px;
    height: 26px;
    background-position: -727px -221px;
}

.gameObject-White-Guon-Stone {
    width: 18px;
    height: 24px;
    background-position: -659px -199px;
}

.gameObject-Winchester {
    width: 36px;
    height: 10px;
    background-position: -175px -77px;
}

.gameObject-Winchester-Rifle {
    width: 64px;
    height: 16px;
    background-position: -459px -507px;
}

.gameObject-Wind-Up-Gun {
    width: 52px;
    height: 20px;
    background-position: -65px -723px;
}

.gameObject-Wingman {
    width: 26px;
    height: 26px;
    background-position: -713px -335px;
}

.gameObject-Witch-Pistol {
    width: 44px;
    height: 20px;
    background-position: -705px -385px;
}

.gameObject-Wolf {
    width: 36px;
    height: 36px;
    background-position: -711px -459px;
}

.gameObject-Yari-Launcher {
    width: 54px;
    height: 18px;
    background-position: -475px -723px;
}

.gameObject-Zilla-Shotgun {
    width: 50px;
    height: 22px;
    background-position: -57px -459px;
}

.gameObject-Zorgun {
    width: 50px;
    height: 30px;
    background-position: -531px -723px;
}
